
/**
 *
 * Style for Webspace
 * Author: Denis Danylov
 * 
 * Contains:
 *
 *  - LESS variables and mixins
 *
 *  - App base
 *  - Main application wrappers
 *  - Ui view transition animation
 *
 *  - WS leftbar
 *  - WS footer
 *  - WS utility classes
 *  - WS html tags
 *  - WS chat
 *  - WS landing page
 *  - WS defiantjs search
 *  - WS content component
 *  
 */

/*=================================================
=            LESS variables and mixins            =
=================================================*/

@color-primary: #0275d8;
@color-white: #ffffff;
@color-light-grey: #f7f7f7;

.transition (@transition:all 0.5s ease) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  -ms-transition: @transition;
  transition: @transition;
}

.absolute-center {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
}

/*=====  End of LESS variables and mixins  ======*/

/* Default
 * No @media query for XS is necessary
 */

/* Small. Above 34em (544px) */
@media screen and (max-width: 34em) {
  .front-end-logo {
    max-width: 100% !important;
  }
  .responsive-logo {
    max-width: 100% !important;
  }  
  .wordpress-logo {
    max-width: 100% !important;
  }  
}

/* Medium. Above 48em (768px) */
@media screen and (max-width: 48em) {

}

/* Large. Above 62em (992px) */
@media screen and (max-width: 62em) {

}

/* Extra large. Above 75em (1200px) */
@media screen and (max-width: 75em) {

}

/*======================================
=            App base style            =
======================================*/

* {
    outline: none !important;
}

body.modal-open { 
  padding-right: 5px !important;
}

.modal-open .modal::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;  
}

.modal-open .modal::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}

/* Preloader style */

.preloader {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../img/gif/preloader.gif') no-repeat transparent;
    transform: translate(-50%, -50%);
}

.preloader > span {
    margin-top: 64px;
    display: block;
}

/*=====  End of App base style  ======*/

/*=======================================================
=            Main application wrappers style            =
=======================================================*/

.wrapper {
    padding-left: 0;
    .transition;
}

.wrapper.toggled {
    padding-left: 250px;
}

.leftbar-wrapper {
    z-index: 1;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    .transition;
}

.wrapper.toggled .leftbar-wrapper {
    left: 0px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
}

/* Toggle Styles with media query */

@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }

    .wrapper.toggled {
        padding-left: 0;
    }

    .leftbar-wrapper {
        left: 0px;
    }

    .wrapper.toggled .leftbar-wrapper {
        left: -250px;
    }

    .page-content-wrapper {
        position: relative;
        height: 100%;
    }

    .wrapper.toggled .page-content-wrapper {
        position: relative;
    }
}

/* Leftbar scrollbar styling (only webkit) */

.leftbar-wrapper::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

.leftbar-wrapper::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}

/*=====  End of Main application wrappers style  ======*/

/*==========================================================
=            Ui view transition animation style            =
==========================================================*/

[ui-view].ng-enter {
  .transition(all .5s ease-in-out);
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 0; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}

/*=====  End of Ui view transition animation style  ======*/

/*========================================
=            WS leftbar style            =
========================================*/

/* Set white color for link inside all list*/

#leftbar .nav-item > ul > li > a {
    color: @color-white;
    font-size: 0.85rem;
}

#leftbar .nav-link:hover {
  background: rgba(2, 90, 165, 0.47);
}

/* Set white background to 'active' link header */

#leftbar .nav-active > div {
  background: @color-white !important;
}

/* Set black color to links inside white background */

#leftbar .nav-active > a, .nav-active > .nav-link > a {
    color: #292b2c !important;
}

/* Make animation sub-nav item and set 'active' by ui-sref */

#leftbar .sub-nav {
  color: @color-white;
  .transition(all 0.2s ease-in-out);
}

#leftbar .sub-nav:hover {
  margin-left: 0.5em;
}

#leftbar .sub-nav-active {
  margin-left: 0.5em;
  list-style-type: disc;
  font-weight: 500;
}

/* Make collapse angle true by nav-active by ui-sref-active */

#leftbar .nav-active .collapse-angle {
    display: inline-block !important;
}

.collapse-angle {
    font-size: 1.5em !important;
    float: right;
    width: 2em;
    text-align: center; 
    height: 1em; 
    cursor: pointer;
    display: none !important;
    .transition(200ms ease-out 0s);       
}

.collapse-angle.toggled {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* White leftbar styling */

.leftbar-toggle {
  width: 100%;
  text-align: center;
  display: block;
  cursor: pointer;
}

.leftbar-logotype {
  font-size: 1.75rem;
  display: block;
  text-align: center;
  padding: 1.5rem 0rem;
}


.side-bottom {
  bottom: 0px;
  position: absolute;
  width: 100%;  
}

.content-under-title {
  font-weight: 100;
}

.nav-link-white {
  display: block;
  padding: .5em 1em;
}

.nav-link-white > a {
  color: inherit !important;
}

/*=====  End of WS leftbar style  ======*/

/*=======================================
=            WS footer style            =
=======================================*/

.footer-list {
  list-style-type: none;
}

/*=====  End of WS footer style  ======*/


/*================================================
=            WS utility classes style            =
================================================*/

.border {
    border: 1px solid #ccc;
}

.no-border {
    border: 0px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.first-letter:first-letter {
    float: left;
    color: @color-primary;
    font-size: 4rem;
    line-height: 3.5rem;
    padding: 0.5rem;
    padding-right: 1rem;
    font-family: Georgia;
}

.form-border {
    border: 1px solid #ccc;
    border-radius: .25rem;
    margin: 0rem;
    padding: 1rem; 
    padding-bottom: 0px;   
}

.no-decorations {
    text-decoration: none !important; 
}     

.full-width {
    width: 100% !important;
}

.z-index-ten {
    z-index: 10;
}

.ws-alert-warning {
    margin: 0.5em;
    border-left: 5px solid #FF9800;
    padding-left: 1em;
    margin-left: 1em;  
}

/*=====  End of WS utility classes style  ======*/

/*==========================================
=            WS html tags fixes            =
==========================================*/

kbd {
    display: inline-block;
}

code, mark {
    word-wrap: break-word;
}

mark {
    margin-bottom: 1rem;
    display: inline-block;
}

strong {
  font-weight: 600;
}

pre::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

pre::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}

/*=====  End of WS html tags fixes  ======*/

/*=====================================
=            WS chat style            =
=====================================*/

.ws-chat-wrapper {
  border: 2px solid #f1f1f1;
}

.ws-chat-list {
  overflow-x: hidden;
  padding: 0.75rem;
  height: 300px;   
}

.ws-chat-list::-webkit-scrollbar {
  width: 8px;
  background-color: #F7F7F7;
}

.ws-chat-list::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
  border-radius: 100px;
}

#messageList > p {
  background: #f0f8ff;
  border: 1px solid #ccc;
  padding: 1em;  
  word-break: break-word;
}

/*=====  End of WS chat style  ======*/

/*=====================================================
=            WS landing page classes style            =
=====================================================*/

.f-size-1-2 {
  font-size: 1.2rem;
}

.f-size-2-5 {
  font-size: 2.5rem;
}

.f-size-2 {
  font-size: 2rem;
}

.f-weight-300 {
  font-weight: 300 !important;
}

.color-primary {
  color: @color-primary;
}

.dev-svg-image {
  max-width: 60px;
  padding-bottom: 0.5rem;
}

.percent-letter {
  float: left;
  font-size: 4rem;
  line-height: 3.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 0em;
}

.list-service-link {
  list-style-type: decimal-leading-zero; 
  color: #ccc;
}

.service-link {
  color: #292b2c !important;
}

#animCarousel .carousel-inner .carousel-item  {
  font-size: 0.9rem;
}

#animCarousel .carousel-inner .carousel-item li {
  color: #e0e0e0;
}

#animCarousel .carousel-inner .carousel-item li > span {
  color: #464a4c;
}

#animCarousel .carousel-inner .carousel-item p  {
  word-break: break-word;
  white-space: normal;
}

@media (min-width: 1920px) {
  #animCarousel .carousel-inner {
    padding: 0rem 5rem;
  }
}

#animCarousel .carousel-inner h4 {
    font-weight: 300;
    border-bottom: 1px dashed #b1b6b9;
    padding-bottom: 0.75rem;
    display: inline-block;
}

#animCarousel .carousel-control-prev, #animCarousel .carousel-control-next  {
  width: 10%;
}

.anim-delay {
  animation-delay: 0.65s;
}

#animCarousel .carousel-indicators i {
  margin: 0rem 0.5rem;
  color: #e6e6e6;  
  cursor: pointer; 
}

#animCarousel .carousel-indicators .active {
  color: #8e8e8e;  
}

#animCarousel .carousel-indicators {
  position: initial;
}

/* For carousel fade effects */

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.carousel-item-left,
.carousel-fade .carousel-inner .active.carousel-item-right {
  left: -99999px;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*=====  End of WS landing page classes style  ======*/

/*===========================================
=            WS defiantjs search            =
===========================================*/

.highlighted { 
  background: yellow;
}

.link-style {
  overflow: hidden;
  white-space: pre-line;
  display: inline-table;  
  border-bottom: 1px solid #e0e0e0;
}

/*=====  End of WS defiantjs search  ======*/

/*============================================
=            WS content component            =
============================================*/

.breadcrumb {
  padding: 0;
  background: none;
}

.active-breadcrumb {
  color: grey !important;
  cursor: default;
  text-decoration: none !important;
}

.breadcrumbs-repeat {
  overflow: hidden;
  transition: 0.3s;
  height: 30px;
}

.breadcrumbs-repeat.ng-enter {
  opacity:0;
}

.breadcrumbs-repeat.ng-leave {
  display: none;
}

.breadcrumbs-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

.spec-class-for-h2c {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.service-button {
  color: #aaaaaa;
  cursor: pointer;
}

.service-button:hover {
  color: #464a4c;;
}

.close-modal {
  width: 40px;
  height: 40px;
  outline: none;
  background: none;
  border: none;
  opacity: 0.25;
  cursor: pointer;
}

.close-modal:hover {
  opacity: 0.5;
}

/*=====  End of WS content component  ======*/





.vk-qr-code {
  opacity: 0.25;
  .transition;
}

.vk-qr-code:hover {
  opacity: 1;
}

.front-end-logo {
  max-width: 150px;
  float: left;
}

.responsive-logo {
  max-width: 150px;
  float: right;
}
 
.wordpress-logo {
  max-width: 140px;
  float: left;
}

.slider-icon {
  max-width: 200px;
  width: 100%;
}

#myService {
  font-size: 0.8rem;
}

#myService .card-block > img {
  max-width: 100px;
  margin-bottom: 1rem;
}

#devTools div {
  margin-bottom: 2rem;
}

#devTools h6 {
  font-weight: 400;
}

.iphone-iframe {
  width: 358px;
  height: 535px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  margin-left: -53px;
  margin-top: -45px;
  margin-bottom: -45px;
  transform: scale(0.5);
}

.cover-iframe {
  width: 355px;
  height: 535px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  margin-left: -51px;
  margin-top: -45px;
  margin-bottom: -40px;
  transform: scale(0.5);
  display: table;
  text-align: center;
}

.cover-iframe > .cover {
  background-image: url(../img/png/iphone_cover.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;    
}

.load-iframe-button {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.load-iframe-button > div {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: white;
  border-radius: 100px;
  border: 3px solid #636c72;
  cursor: pointer;
}

.load-iframe-button h4 {
  margin-top: 2rem;
}

.load-iframe-button > div i {
  line-height: 100px;
  padding-left: 0.5rem;
}

.ws-hide {
  display: none;
  .transition;
}

.ws-show {
  display: block;
  .transition;
}

.iphone-background {
  background-image: url(../img/svg/iphone-4s.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 250px; 
}

.collapse-examples {
  background: aliceblue;
  cursor: pointer;  
  border-left: 10px solid rgba(2, 117, 216, 0.1);
  font-size: 0.8rem;
}

.collapse-examples.example-icon {
  background: aliceblue;
  cursor: pointer;  
  font-size: 0.8rem;
  display: table;
  border: none;
}

.collapse-examples.example-icon img {
  width: 50px;
  display: inline-block;
  background: #ffffff;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.collapse-examples.example-icon > p {
  display: table-cell;
  vertical-align: middle;
}

.page-list {
    padding-left: 0.5rem;
}

.page-list > li {
    display: inline;
    margin: 0rem 0.25rem;
}

.page-list > li:first-child:before {
    content: '';
}

.page-list > li:before {
    content: '/';
    color: #ccd0db;
    padding-right: 0.5rem;    
}

.page-list.no-slash > li:before {
    content: '';   
    padding-right: 0rem;
}

.page-list.no-slash > li:after {
    content: '/';
    color: #ccd0db;
    padding-left: 0.5rem;     
}

.page-list.no-slash > li:last-child:after {
    content: '';   
}

.small-font-size {
  font-size: 0.8rem;
}

.tab-link.active:hover, .tab-link.active {
  color: white !important;
}  

.tab-link {
  cursor: pointer;
}

#leftbar .side-two .nav-active > div {
  background: none !important;
  font-weight: 500;
  .transition;
}

.transparent-text {
  color: rgba(255,255,255,0);
}

.switch-button {
  opacity: 0.25;
}

.switch-button:hover {
  opacity: 1;
  .transition;
}

#content {
  position: relative;
}

.bg-white {
  background: white;
}

/* ANGULAR STATE LOADER */
.angular-state-loader {
    position: absolute;
    padding: 50px;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    .transition;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
    }
    25% {
        -webkit-transform: rotate(90deg) scale(0.7);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
    }
}

.rotate-right {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}