<section>
	<div class="row">
		<div class="container">
			<h5 class="lead mb-3">Что такое Front-end?</h5>
			<img class="front-end-logo p-2" src="../../../img/png/front-end.png" alt="Front-end">
			<p class="font-italic"><code>Front-end</code> и <code>back-end</code> — термины в программной инженерии, которые различают согласно принципу разделения ответственности между представительским уровнем и уровнем доступа к данным соответственно. <code>Front-end</code> — интерфейс взаимодействия между пользователем и основной программно-аппаратной частью <code>back-end</code>. <code>Front-end</code> и <code>back-end</code> могут быть распределены между одной или несколькими системами.</p>
			<p class="font-italic"><code>Front-end</code> — это абстракция, которая предоставляет пользовательский интерфейс.</p>
			<p class="font-italic text-right"><a target="_blank" href="https://ru.wikipedia.org/wiki/Front_end_%D0%B8_back_end">Wikipedia</a></p>
			<hr>
			<p>Могу предложить свои услуги по разработке пользовательского интерфейса, адаптивной верстки, кросс-браузерных скриптов и взаимодействия с <code>back-end</code> частью.</p>
			<p>Опыт работы с <code>AJAX</code> запросами, <code>API</code> сервисами, фреймворками <code>Laravel</code> и <code>Yii2</code>, понимание концепции <code>MVC</code> и модульной разработки приложений.</p>
			<div class="alert alert-info" role="alert">
				<p class="mb-0">В разработке предпочитаю использование более простых подходов (<em>все гениальное просто</em>), скорости работы, независимости от <code>back-end</code>, и логичности алгоритмов.</p>
			</div>				
			<p>Работаю на <code>Windows</code>, в процессе разработки использую <code>Open Server</code> + <code>Node.js</code> + <code>NPM</code> - <code>Grunt</code>, пишу в <code>Sublime Text 3</code> (реже <code>PhpStorm</code>), для контроля версий пользуюсь <code>Git</code> и приватным репозиторием <code>Bitbucket</code>, пользовательские тесты на <code>Android</code> и <code>iOS</code></p>
			<p>Навыки <code>HTML5</code>, <code>CSS3</code>, <code>Bootstrap 3/4</code>, <code>JS</code>, <code>JQuery</code>, <code>AngularJS</code>, <code>LESS</code>, <code>PHP</code></p>
		</div>
	</div>
</section>