<section>
	<div class="row">
		<div class="container">
			<img class="responsive-logo p-3" src="../../../img/svg/responsive.svg" alt="Responsive">
			<p>Разработка персональных одностраничных сайтов с адаптивным дизайном.</p>
			<p>Примеры можно посмотреть здесь:</p>
			<ul class="text-muted">
			    <li><a target="_blank" href="http://study.kineu.kz/">study.kineu.kz</a>,<small> зеркало: <a target="_blank" href="http://landing-second.webspace.kz/">landing-second.webspace.kz</a></small></li>
			    <li><a target="_blank" href="http://study.aptech.kineu.kz/">study.aptech.kineu.kz</a>,<small> зеркало: <a target="_blank" href="http://landing-first.webspace.kz/">landing-first.webspace.kz</a></small></li>
			</ul>
			<p>Такие сайты я делаю полностью с нуля, по согласованному с заказчиком дизайну. Из инструментов использую <code>Bootstrap 3/4</code> и <code>JQuery</code>. Пишу стандартный функционал, модальные окна, скроллы (прокрутки) к якорям, галереи изображений, слайдеры, параллакс (и другие фишки), отзывы, формы обратной связи с отправкой сообщения на почту заказчика (через <code>PHPMailer</code>).</p>
			<p>Следуя техническому заданию могу подключить любые интересующие <code>JS</code> плагины, или создать персональные возможности с использованием фреймворков.</p>
			<div class="alert alert-info" role="alert">
				<p class="mb-0">Современный адаптивный дизайн позволяет охватить больший спектр мобильных устройств пользователей, а разработка с нуля гарантирует быструю скорость загрузки и работы такого сайта. Возможно добавление <code>Touch</code> функций средствами <code>JQuery Mobile</code></p>
			</div>			
			<p>Подключение сайта к <a target="_blank" href="https://www.google.com/analytics/">Google Analytics</a>, <a target="_blank" href="https://metrika.yandex.kz">Яндекс.Метрики</a> и создание целей для неё, регистрация сайта в поисковых системах.</p>
		</div>
	</div>
</section>