<section>
	<div class="row">
		<div class="container">
			<img class="wordpress-logo p-3" src="../../../img/svg/wordpress.svg" alt="Wordpress">
			<p>Разработка тематических сайтов (магазинов) на платформе системы управления контентом <a target="_blank" href="https://ru.wordpress.com/">WordPress</a>.</p>
			<p>Благодаря использованию <code>CMS</code> заказчик получает возможность собственноручно работать на сайте, добавлять информацию, редактировать, настраивать элементы темы и модули.</p>
			<p>Примеры можно посмотреть здесь (скачанные шаблоны):</p>
			<ul class="text-muted">
			    <li><a target="_blank" href="http://abi.kineu.kz/">abi.kineu.kz</a></li>
			    <li><a target="_blank" href="http://aptech.kineu.kz/">aptech.kineu.kz</a></li>
			    <li><a target="_blank" href="http://robofest.kineu.kz/">robofest.kineu.kz</a></li>
			</ul>			
			<p>Подобные сайты создаются на готовой платформе, с использованием адаптивных (и не очень) бесплатных (или платных) шаблонов и последующим редактированием их "под себя".</p>
			<p>Самостоятельный шаблон (по дизайну <a target="_blank" href="https://www.msu.ru/">msu.ru</a>, не завершенный проект):</p>
			<ul class="text-muted">
			    <li><a target="_blank" href="http://kineu.kz/">kineu.kz</a>,<small> зеркало: <a target="_blank" href="http://wp-template.webspace.kz/">wp-template.webspace.kz</a></small></li>
			</ul>			
			<div class="alert alert-info" role="alert">
				<p class="mb-0">Возможно создание индивидуального дизайна (шаблона темы), для <code>Wordpress</code> с использованием <code>Bootstrap 3/4</code>, с персональным набором функций для конкретного заказчика, минимум плагинов, возможность встраивания фреймворков типа <code>AngularJS</code></p>
			</div>
			<p>Плюсом такой системы является огромный набор готовых плагинов, минимальные знания программирования для работы и большое сообщество пользователей <code>WordPress</code></p>
			<p>В конце работы обязательно провожу настройку безопасности и установку нужных плагинов, после чего заказчик получает все логины, пароли и готовый сайт.</p>
		</div>
	</div>
</section>