<section id="git">
	<div class="row">
		<div class="col-12">
			<h5>Git + Bitbucket</h5>
			<div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 px-0 py-3">
				<img class="img-thumbnail img-fluid" src="../img/png/git-logo.png" alt="">
			</div>
			<p><a target="_blank" href="https://git-scm.com/"><mark>https://git-scm.com/</mark></a></p>
			<p><code>Git</code> - распределенная система контроля версий файлов. Системы контроля версий позволяют хранить несколько версий одних и тех же файлов с возможностью возврата к старому варианту, просмотра изменений, их авторов и т.д.</p>
			<p>Распределенная система контроля версий не нуждается в центральном сервере, хранящем версии, вся история хранится на каждом локальном компьютере и при необходимости синхронизируется с аналогичным хранилищем другого компьютера. В этом отличие <code>Git</code> от, например, <code>SVN</code> - можно установить <code>Git</code> только на локальный компьютер и хранить все версии у себя, не дублируя на сервер.</p>
			<hr>
			<p><a target="_blank" href="https://bitbucket.org/"><mark>https://bitbucket.org/</mark></a></p>
			<p><code>Bitbucket</code> - это сервис, централизованно хранящий репозитории <code>Git</code>, бесплатный для 5 пользователей и платный для больших команд. Преимущество <code>Bitbucket</code> перед аналогичным сервисом <code>GitHub</code> - возможность создания закрытых репозиториев (не <code>open source</code>).</p>
			<p class="text-primary cursor-pointer" data-toggle="collapse" data-target="#collapseGit" aria-expanded="false" aria-controls="collapseGit">Краткие данные позволяющие быстро начать работу с Git и Bitbucket</p>
			<div class="collapse mb-3" id="collapseGit">
			  <div class="card card-block">
				<p><a target="_blank" href="http://goloburdin.blogspot.com/2013/11/git-bitbucket-20.html"><mark>http://goloburdin.blogspot.com/2013/11/git-bitbucket-20.html</mark></a></p>
				<p>В первую очередь настроим наш Git - зададим своё имя и email (эта информация будет использоваться в репозитории для отслеживания авторов изменений):</p>
				<p>
				<code>git config --global user.name "Alexey Goloburdin"</code><br>
				<code>git config --global user.email my@mail.com</code><br>
				<code>git config --global core.pager 'less -r'</code><br>
				</p>
				<p>Переходим в терминале в директорию, в которой мы хотим создать репозиторий - директорию с исходными кодами нашего приложения - и инициализируем новый репозиторий:</p>
				<p><code>git init</code></p>
				<p>Добавляем все файлы в созданный репозиторий:</p>
				<p><code>git add *</code></p>
				<p>И делаем commit - то есть сохранение текущей версии репозитория:</p>
				<p><code>git commit -m 'первая версия репозитория'</code></p>
				<p>Кстати, узнать текущий статус по репозиторию можно командой:</p>
				<p><code>git status</code></p>
				<p>Как мы уже говорили, вся текущая работа с репозиторием происходила на локальном компьютере без подключения к серверу Bitbucket - пришло время синхронизироваться! Для этого нужно выполнить команды, которые сообщил нам Bitbucket после создания удаленного репозитория:</p>
				<p>
				<code>git remote add origin https://livedev@bitbucket.org/livedev/repositoryName.git</code><br>
				<code>git push -u origin --all</code>
				</p>
				<p>Если мы работаем в команде и коммиты на сервер делает кто-то кроме нас, то перед коммитом нужно сначала загрузить все изменения, которые произвели другие члены команды в репозитории на сервере, для этого используется команда:</p>
				<p><code>git pull origin master</code></p>
				<p>Отмена локальных изменений (до индексации)</p>
				<p><code>git checkout *</code></p>
				<p>Удаление untracked files</p>
				<p><code>git clean -f *</code></p>				
			  </div>
			</div>
		</div>
	</div>
</section>