<section data-section="openserver" id="openserver">
	<div class="row">
		<div class="col-12">
			<h5>Open Server Panel</h5>
			<p><a target="_blank" href="https://ospanel.io/"><mark>https://ospanel.io/</mark></a></p>
			<div class="col-12 col-sm-12 div.col-md-10 col-lg-6 col-xl-4 mb-3">
				<img class="img-fluid" src="../img/gif/openserver.gif" alt="">			
			</div>
			<p>Портативная серверная платформа и программная среда, созданная специально для веб-разработчиков с учётом их рекомендаций и пожеланий.</p>
			<p>Программный комплекс имеет богатый набор серверного программного обеспечения, удобный, многофункциональный продуманный интерфейс, обладает мощными возможностями по администрированию и настройке компонентов. Платформа широко используется с целью разработки, отладки и тестирования веб-проектов, а так же для предоставления веб-сервисов в локальных сетях.</p>
		</div>
	</div>
</section>