<section id="introduction">
	<div class="row">
		<div class="col-12">
			<h5>Software</h5>
			<p>В этом разделе я представлю описание всего программного обеспечения которым я пользуюсь в своих проектах. Используемое ПО отвечает всем нововведениям современных технологий и так же абсолютно бесплатное для использования.</p>
		    <p>Страницы <code>Software</code></p>
		    <ul class="page-list">
                <li><a ui-sref="software.git">Git + Bitbucket</a></li>        
                <li><a ui-sref="software.sublimetext">Sublime Text 3</a></li>        
                <li><a ui-sref="software.openserver">Open Server Panel</a></li>   
		    </ul>			
		</div>
	</div>
</section>