<section data-section="sublimetext" id="sublimetext">
	<div class="row">
		<div class="col-12">
			<h5>Sublime Text 3</h5>
			<p><a target="_blank" href="https://sublimetext.com/"><mark>https://sublimetext.com/</mark></a></p>
			<p><code>Sublime Text</code> представляет собой простой текстовый редактор для кода и разметки. Вы полюбите его гладкий пользовательский интерфейс, функции и потрясающую производительность. Стоит отметить огромное количество плагинов для редактора.</p>
	    	<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
	    		<img class="gifplayer img-thumbnail align-baseline" data-gif="../img/gif/sublimetext3.gif" src="../img/png/sublimetext3.png" alt="">
	    	</div>
	    	<p>Если вы так же используете этот редактор, посмотрите какие плагины я использую :)</p>
	    	<p><a target="_blank" href="https://packagecontrol.io/"><mark>https://packagecontrol.io/</mark></a></p>
	    	<ul>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/A%20File%20Icon">A File Icon</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/All%20Autocomplete">All Autocomplete</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/AngularJS">AngularJS</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/AngularZen"><del>AngularZen</del></a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/auto-save"><del>auto-save</del></a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/AutoFileName">AutoFileName</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/Bootstrap%204%20Autocomplete">Bootstrap 4 Autocomplete</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/Boxy%20Theme">Boxy Theme</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/BracketHighlighter">BracketHighligher</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/Comment-Snippets">Comment-Snippets</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/Emmet">Emmet</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/HTML-CSS-JS%20Prettify"><del>HTML-CSS-JS Prettify</del></a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/JavaScriptNext%20-%20ES6%20Syntax"><del>JavaScriptNext - ES6 Syntax</del></a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/Package%20Control">Package Control</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/SideBarEnhancements">SideBarEnhancements</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/LESS">LESS</a></li>
	    		<li><a target="_blank" href="https://packagecontrol.io/packages/jQuery">jQuery</a></li>
	    	</ul>			
		</div>
	</div>
</section>