
/*================================
=            WS fixes            =
================================*/

.js-tilt {
  display: table;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  max-width: 200px; 
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 10px 10px 50px rgb(158, 158, 158);
}

.js-tilt > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} 

.inside-block {
  width: 80px; 
  height: 80px; 
  background: white; 
  margin: 0 auto;
}

.back-image {
  background-image: url(../../img/svg/background-night-desert.svg);
  background-size: cover;
}

.back-two {
  background-image: -webkit-linear-gradient(top left, #ff00ba 0%, #fae713 100%);
  background-image: -o-linear-gradient(top left, #ff00ba 0%, #fae713 100%);
  background-image: linear-gradient(to bottom right, #ff00ba 0%, #fae713 100%);
}

.back-three {
  background-image: -webkit-linear-gradient(top left, #0275d8 0%, #26c7da 100%);
  background-image: -o-linear-gradient(top left, #0275d8 0%, #26c7da 100%);
  background-image: linear-gradient(to bottom right, #0275d8 0%, #26c7da 100%);
}

/*=====  End of WS fixes  ======*/