<section id="bxslider">
	<h5>bxslider-4</h5>
	<a target="_blank" href="https://github.com/stevenwanderski/bxslider-4"><mark>https://github.com/stevenwanderski/bxslider-4</mark></a>
	<p>Хорошо подготовленный и отзывчивый слайдер любого контента на <code>JQuery</code>. Поддерживает мобильные устройства, <code>touch</code> и <code>swipe</code> функции.</p>
	<p>Особенности <code>bxslider-4</code></p>
	<ul>
		<li>Полностью отзывчивый - адаптируется к любому устройству</li>
		<li>Горизонтальные, вертикальные и другие анимации</li>
		<li>Слайды могут содержать изображения, видео или содержимое HTML</li>
		<li>Функции обратного вызова и общедоступные методы, много вариантов конфигурации</li>
		<li>Маленький размер файла, полностью настраиваемый, простой в реализации</li>
		<li>Поддержка браузеров: Firefox, Chrome, Safari, iOS, Android, IE7 +</li>
	</ul>		
	<h5>Вертикальный слайдер</h5>
	<div class="row">
		<div class="col-12">
			<ul class="bxslider-vertical pl-0">
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-primary">
			  		<div class="text-white">Slide #1</div>
			  	</div>
			  </li>
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-success">
			  		<div class="text-white">Slide #2</div>
			  	</div>
			  </li>
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-info">
			  		<div class="text-white">Slide #3</div>
			  	</div>
			  </li>			  
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-warning">
			  		<div class="text-white">Slide #4</div>
			  	</div>
			  </li>			  
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-danger">
			  		<div class="text-white">Slide #5</div>
			  	</div>  	
			  </li>			  
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-inverse">
			  		<div class="text-white">Slide #6</div>
			  	</div>  	
			  </li>			  
			</ul>
		</div>
	</div>	
	<h5>Горизонтальный слайдер с миниатюрами</h5>
	<div class="row">
		<div id="bx-slider-example-1" class="col-12">
			<ul class="bxslider">
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-primary biggest-height">
			  		<div class="text-white">Slide #1</div>
			  	</div>
			  </li>
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-success biggest-height">
			  		<div class="text-white">Slide #2</div>
			  	</div>
			  </li>
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-info biggest-height">
			  		<div class="text-white">Slide #3</div>
			  	</div>
			  </li>			  
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-warning biggest-height">
			  		<div class="text-white">Slide #4</div>
			  	</div>
			  </li>			  
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-danger biggest-height">
			  		<div class="text-white">Slide #5</div>
			  	</div>  	
			  </li>			  
			  <li class="bx-ws-item">
			  	<div class="bx-ws-item-inside bg-inverse biggest-height">
			  		<div class="text-white">Slide #6</div>
			  	</div>  	
			  </li>		  
			</ul>
			<div id="bx-pager" class="text-center">
			  	<div class="bx-ws-item-thumbnail bg-primary d-inline-block align-top">
			  		<a class="no-decorations text-white" data-slide-index="0" href="">#1</a>
			  	</div>  			  	
			  	<div class="bx-ws-item-thumbnail bg-success d-inline-block align-top">
			  		<a class="no-decorations text-white" data-slide-index="1" href="">#2</a>
			  	</div>  			  	
			  	<div class="bx-ws-item-thumbnail bg-info d-inline-block align-top">
			  		<a class="no-decorations text-white" data-slide-index="2" href="">#3</a>
			  	</div>  			  	
				<div class="bx-ws-item-thumbnail bg-warning d-inline-block align-top">
			  		<a class="no-decorations text-white" data-slide-index="3" href="">#4</a>
			  	</div>  			  	
			  	<div class="bx-ws-item-thumbnail bg-danger d-inline-block align-top">
			  		<a class="no-decorations text-white" data-slide-index="4" href="">#5</a>
			  	</div>  			  	
			  	<div class="bx-ws-item-thumbnail bg-inverse d-inline-block align-top">
			  		<a class="no-decorations text-white" data-slide-index="5" href="">#6</a>
			  	</div>  			  	  
			</div>
		</div>
	</div>
	<h5 class="mt-4">Видео слайдер</h5>
	<a target="_blank" href="https://www.youtube.com/iframe_api"><mark>https://www.youtube.com/iframe_api</mark></a>
	<p>Видео добавляются из сервиса <code>Youtube</code> и проигрываются внутри слайдера. Для каждого видео может быть создан собственный плеер и управление с помощью <code>IFrame Player API</code>. В этом примере <code>IFrame Player API</code> ставит на паузу видео которые пользователь переключает.</p>
<!-- 	<div class="ws-alert-warning" role="alert">
	  <strong>Примечание:</strong> На момент загрузки страницы видео слайдер скрыт, так как подгрузка видео может занянуться на несколько секунд. Пожалуйста подождите.
	</div>   -->	
	<p></p>
	<div class="row" style="position: relative;">
		<div class="bx-loading-block">Загрузка <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
		<div class="col-12" id="bx-video-view" style="visibility: hidden;">
			<ul class="bxslider-video pl-0">
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-0" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/TXdsqWqR4ro?enablejsapi=1"></iframe>
			  </li>		  
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-1" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/WJkg6j7IkyE?enablejsapi=1"></iframe>
			  </li>		
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-2" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/0YlTOSiVLnQ?enablejsapi=1"></iframe>
			  </li>	
			  <!-- <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-3" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/hUj65M4T1cg?enablejsapi=1"></iframe>
			  </li>	
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-4" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/iDkrSD8fOBo?enablejsapi=1"></iframe>
			  </li>			
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-5" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/1-8isxa5B_Y?enablejsapi=1"></iframe>
			  </li>	
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-6" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/axgDgH6f7Pw?enablejsapi=1"></iframe>
			  </li>	
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-7" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/yHVrGUeTFbo?enablejsapi=1"></iframe>
			  </li>	
			  <li class="bx-ws-item embed-responsive embed-responsive-16by9">
				<iframe id="video-8" class="yt-player embed-responsive-item" src="http://www.youtube.com/embed/efoQYVJt03M?enablejsapi=1"></iframe>
			  </li>				  			  			  			  	  			  			  	   -->
			</ul>
		</div>
	</div>	
</section>