<section id="camanjs">
	<h5>caman.js</h5>
	<a target="_blank" href="https://github.com/meltingice/CamanJS"><mark>https://github.com/meltingice/CamanJS</mark></a>
	<p><code>CamanJS</code> это <code>Canvas</code> манипуляции с изображением в <code>Javascript</code>. Это сочетание простого в использовании интерфейса с передовыми и эффективными методами редактирования изображений.</p>
	<p><code>CamanJS</code> очень легко расширить с помощью новых фильтров и плагинов, и он поставляется с широким спектром функций редактирования изображений, которые продолжают расти. Полностью независим от библиотек и работает как в <code>NodeJS</code> так и в браузере.</p>
	<div class="ws-alert-warning" role="alert">
	  <strong>Примечание:</strong> Из-за вычислений обработки изображения, на мобильных устройствах может наблюдаться долгая загрузка фильтров.
	</div>	
	<p class="pt-4">Select an image file:</p>
    <label class="custom-file mb-3">
        <input type="file" id="imageInput" class="custom-file-input" name="files" accept="image/*"><span class="custom-file-control"></span>
    </label>	
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
			<img id="caman-image" class="img-fluid img-thumbnail" src="{{camanjs.image}}" alt="">
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12">
					<label for="hue">Оттенок</label>
					<div class="range range-primary">
						<input type="range" name="hue" min="0" max="100" ng-model="camanjs.hue" ng-change="camanjs.inputRangeEffects()" ng-init="camanjs.hue = 0">
						<output>{{camanjs.hue}}</output>
					</div>					
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12">
					<label for="hue">Резонанс</label>
					<div class="range range-primary">
						<input type="range" name="vibrance" min="0" max="100" ng-model="camanjs.vibrance" ng-change="camanjs.inputRangeEffects()" ng-init="camanjs.vibrance = 0">
						<output>{{camanjs.vibrance}}</output>
					</div>				
				</div>	
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12">
					<label for="hue">Контраст</label>
					<div class="range range-primary">
						<input type="range" name="contrast" min="0" max="100" ng-model="camanjs.contrast" ng-change="camanjs.inputRangeEffects()" ng-init="camanjs.contrast = 0">
						<output>{{camanjs.contrast}}</output>
					</div>				
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12">
					<label for="hue">Сепия</label>
					<div class="range range-primary">
						<input type="range" name="sepia" min="0" max="100" ng-model="camanjs.sepia" ng-change="camanjs.inputRangeEffects()" ng-init="camanjs.sepia = 0">
						<output>{{camanjs.sepia}}</output>
					</div>				
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-12">
					<label for="hue">Размытие</label>
					<div class="range range-primary">
						<input type="range" name="blur" min="0" max="100" ng-model="camanjs.blur" ng-change="camanjs.inputRangeEffects()" ng-init="camanjs.blur = 0">
						<output>{{camanjs.blur}}</output>
					</div>				
				</div>				
			</div>
		</div>		
	</div>
	<h5 class="my-3">Составные фильтры</h5>
	<div class="row">
		<div class="col-12">
			<button class="btn btn-outline-primary mr-3 mb-3" ng-click="camanjs.setFilter('hdr')">HDR Effect</button>
			<button class="btn btn-outline-primary mr-3 mb-3" ng-click="camanjs.setFilter('oldpaper')">Old Papper</button>
			<button class="btn btn-outline-primary mr-3 mb-3" ng-click="camanjs.setFilter('pleasant')">Pleasant</button>			
		</div>
	</div>	
	<h5>Обычные фильтры</h5>
	<div class="row mt-3">
		<div class="col-12">
			<button class="btn btn-danger mr-3 mb-3" ng-click="camanjs.setFilter('resetImage')">Reset image</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('vintage')">Vintage</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('lomo')">Lomo</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('emboss')">Emboss</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('clarity')">Clarity</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('orangePeel')">Orange Peel</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('sinCity')">Sin City</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('sunrise')">Sun Rise</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('crossProcess')">Cross Process</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('hazyDays')">Hazy Days</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('love')">Love</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('grungy')">Grungy</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('jarques')">Jarques</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('pinHole')">Pin Hole</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('oldBoot')">Old Boot</button>
			<button class="btn btn-secondary mr-3 mb-3" ng-click="camanjs.setFilter('glowingSun')">Glowing Sun</button>
			<button class="btn btn-success mr-3 mb-3" ng-click="camanjs.saveImage()">Save image</button>
		</div>
	</div>
</section>

