<section id="chartjs">
	<h5>chart.js</h5>
	<a target="_blank" href="https://github.com/chartjs/Chart.js"><mark>https://github.com/chartjs/Chart.js</mark></a>
	<p>Простые и гибкие графики <code>JavaScript</code> для дизайнеров и разработчиков.</p>
	<h5>Гистограмма</h5>
	<p>Гистограмма - это способ отображения данных в виде полос.</p>
	<div class="row">
		<div class="col-12">
			<canvas id="barChart" width="400" height="200"></canvas>
		</div>
	</div>
	<h5 class="mt-5">Линейная диаграмма</h5>
	<p>Линейная диаграмма - это способ построения точек данных на линии.</p>
	<div class="row">
		<div class="col-12">
			<canvas id="lineChart" width="400" height="200"></canvas>
		</div>
	</div>
	<h5 class="mt-5">Круглые графики</h5>
	<p>Дополнительые чарты в круглом представлении.</p>
    <div class="col-12">
        <div class="bd-example bd-example-tabs" role="tabpanel">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="radarChart-tab" data-toggle="tab" href="#radar" role="tab" aria-controls="radarChart" aria-expanded="true">Радар</a>
            </li>     
            <li class="nav-item">
              <a class="nav-link" id="pieChart-tab" data-toggle="tab" href="#pie" role="tab" aria-controls="pieChart" aria-expanded="false">Пирог</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" id="doughnutChart-tab" data-toggle="tab" href="#doughnut" role="tab" aria-controls="doughnutChart" aria-expanded="false">Пончик</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div role="tabpanel" class="tab-pane fade active show" id="radar" aria-labelledby="radarChart-tab" aria-expanded="true">
				<p class="p-3">Радиолокационная карта - это способ показать несколько точек данных и различия между ними. Они часто полезны для сравнения точек двух или более разных наборов данных.</p>
				<hr>
				<div class="row justify-content-center">
					<div class="col-8">
						<canvas id="radarChart"></canvas>
					</div>
				</div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="pie" aria-labelledby="pieChart-tab" aria-expanded="false">
				<p class="p-3">Диаграммы пирога и пончика, вероятно, являются наиболее часто используемыми диаграммами. Они делятся на сегменты, дуга каждого сегмента показывает пропорциональное значение каждой части данных.</p>
				<hr>
				<div class="row justify-content-center">
					<div class="col-8">
						<canvas id="pieChart"></canvas>
					</div>
				</div>				
            </div>
            <div role="tabpanel" class="tab-pane fade" id="doughnut" aria-labelledby="doughnutChart-tab" aria-expanded="false">
				<p class="p-3">Графики «пирог» и «пончик» - фактически один и тот же класс в Chart.js, но имеют одно значение по умолчанию - cutoutPercentage. Это соответствует тому, какой процент внутренней части должен быть вырезан. По умолчанию это 0 для круговых диаграмм и 50 для пончиков.</p>
				<hr>
				<div class="row justify-content-center">
					<div class="col-8">
						<canvas id="doughnutChart"></canvas>
					</div>
				</div>				
            </div>
          </div>
        </div>        
    </div>		
</section>