<section id="defiantjs">
    <h5>defiant.js</h5>
    <a target="_blank" href="https://github.com/hbi99/defiant.js"><mark>https://github.com/hbi99/defiant.js</mark></a>
    <p><code>DefiantJS</code> добавляет возможность создавать интеллектуальные поисковые шаблоны, применимые к структурам <code>JSON</code>, на основе проверенных и стандартизированных технологий, таких как <code>XSLT</code> и <code>XPath</code></p>
    <p><code>DefiantJS</code> также расширяет глобальный объект <code>JSON</code> методом «search», который позволяет выполнять поиск в <code>JSON</code> с помощью выражений <code>XPath</code> и возвращать совпадения в виде объекта типа массива.</p>
    <hr>
    <h5>Живой поиск <small class="text-muted">попробуйте поискать например слово <code>Java</code></small></h5>
	<div class="row mb-4">
		<div class="col-12">
			<div class="dropdown">
				<input id="inputSearch" type="text" class="form-control dropdown-toggle" ng-model="defiantjs.inputSearch" ng-change="defiantjs.change()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
				<div class="dropdown-menu col-10" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item link-style p-2 small-font-size" ui-sref="{{match.link}}" ng-repeat="match in defiantjs.matchArray">
						<span ng-bind-html="match.text | highlight:defiantjs.inputSearch"></span>
						<p class="mb-2" ><small>Перейти <span class="text-primary">{{match.link}}</span></small></p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="ws-alert-warning" role="alert">
	  <strong>Примечание:</strong> <code>Firebase</code> база данных для поиска загружается вместе с загрузкой этой страницы и передается как <code>JSON</code> объект для плагина.
	</div>  		
</section>