<section id="downloadjs">
	<h5>download.js</h5>
	<a target="_blank" href="https://github.com/rndme/download"><mark>https://github.com/rndme/download</mark></a>
	<p>Плагин добавляет функцию <code>download()</code> которая позволяет загрузить любой объект (файл) с помощью <code>JavaScript</code></p>
	<p>Она определяет содержание и имя нового файла, помещается в каталог загрузки браузера. Входящими данными могут быть <code>URL/String/Blob</code> или типизированные массивы данных, или <code>dataURL</code> представляющий данные файла <code>base64</code>.</p>
	<p>Независимо от входящих данных, <code>download()</code> сохраняет файл используя указанное имя файла и мим информацию таким же образом как сервер, с помощью заголовка <code>HTTP Content-Disposition</code></p>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<p class="w-100 mb-0">Загрузить <code>*.txt</code> файл</p>
						<div class="d-inline-block mb-2 cursor-pointer">
							<em class="text-primary" ng-click="downloadjs.downloadFile('text')"><small>download("Webspace - makes web easier", "file.txt", "text/plain");</small></em>
						</div>
					</li>
					<li class="list-group-item">
						<p class="w-100 mb-0">Загрузить элемент страницы <code>*.html</code> файл</p>
						<div class="d-inline-block mb-2 cursor-pointer">
							<em class="text-primary" ng-click="downloadjs.downloadFile('html')"><small>download(angular.element('#downloadjs').html(), "file.html", "text/html");</small></em>
						</div>			
					</li>
					<li class="list-group-item">
						<p class="w-100 mb-0">Загрузить картинку в кодировке <code>Base64</code></p>
						<div class="d-inline-block mb-2 cursor-pointer">
							<em class="text-primary" ng-click="downloadjs.downloadFile('base64')"><small>download(data:image/gif;base64,R0lGODlhRgAVAIcAAOfn5+/v7/f3..., "mr-base64.png", "image/png");</small></em>
						</div>			
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>