<section id="gifplayer">
	<h5>gifplayer.js</h5>
	<a target="_blank" href="https://github.com/rubentd/gifplayer"><mark>https://github.com/rubentd/gifplayer</mark></a>
	<p><code>JQuery</code> плагин который поможет запускать и останавливать воспроизведение анимированных <code>GIF</code> файлов на сайте. Преимуществом использования этого плагина является загрузка более легких изображений, а затем загрузка <code>GIF</code> когда пользователь захочет посмотреть анимацию.</p>
	<p><strong>Пример использования плагина:</strong></p>
	<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
		<img class="gifplayer img-thumbnail align-baseline" data-gif="../img/gif/banana.gif" src="../img/png/banana.png" alt="">
	</div>	
</section>