<section id="highlight">
	<h5>highlight.js</h5>
	<a target="_blank" href="https://github.com/isagalaev/highlight.js"><mark>https://github.com/isagalaev/highlight.js</mark></a>
	<p>Плагин <code>Highlight</code> это подсветка для синтаксиса написанная на <code>JavaScript</code>. Он работает почти со всем языками программирования, не зависит от фреймворков и имеет автоматическое определение языка.</p>
	<p><a target="_blank" href="https://highlightjs.org/">169 languages and 77 styles</a></p>
	<div class="row">	
	<div class="col-12">
	<pre class="img-thumbnail" style="max-height: 400px;"><code class="javascript">(function () {
    'use strict';
    angular
    .module('webspace.yii',['ui.router'])
    .config(yiiConfig)
    .controller('yiiController', yiiController);

    // Controller logic
    yiiController.$inject = ['$http', '$rootScope'];
    function yiiController($http, $rootScope) {
        console.log('yiiController init');
    }

    // Controller state and config
     yiiConfig.$inject = ['$stateProvider'];
     function yiiConfig($stateProvider) {
         $stateProvider.state('yii', {
             url: '/yii',
             views:{
                 "content": {
                     templateUrl: 'pages/pg-yii.html',
                     controller: 'yiiController',
                     controllerAs: 'yii'
                 }
                 // "view": {
                 //     templateUrl: 'app/components/tile/view/view.html'
                 // }
             }
         });
     }

})();</code></pre>
	</div>	
	</div>
</section>