<section id="html2canvas">
    <h5>html2canvas</h5>
    <a target="_blank" href="https://github.com/niklasvh/html2canvas"><mark>https://github.com/niklasvh/html2canvas</mark></a>
    <p>Плагин позволяет делать «скриншоты» страниц или их частей непосредственно в браузере. Снимок экрана основан на <code>DOM</code> представлении и как таковой, может не быть на 100% точным, поскольку он не делает фактического снимка экрана, он создает скриншот на основе информации, доступной на странице.</p>
    <p>Плагин не требует никакого рендеринга с сервера, поскольку все изображение создается в браузере клиентов.</p>
    <p>Сценарий все еще находится в <span class="text-danger">очень экспериментальном состоянии</span>, я не рекомендую использовать его в производстве.</p>
    <div class="ws-alert-warning" role="alert">
      <strong>Примечание:</strong> На этом сайте плагин используется для сохранения страницы в <code>.pdf</code> файл и/или распечатки этого файла.
    </div>  
    <hr>
    <p>Введите что нибудь в поле ввода, и нажмите кнопку <code>Render</code>, после чего плагин добавит <code>canvas</code> элемент который можно сохранить как обычную картинку в <code>.png</code> формате.</p>
    <div class="row mb-3">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div id="renderAreaParent" class="form-group">
            <textarea id="renderArea" class="form-control" rows="3"></textarea>
          </div>
          <button class="btn btn-danger" ng-click="html2canvasjs.savePDF()">Render</button>
        </div> 
    </div>
    <div class="row">
    	<div class="col-12">
    		<div id="renderResult">
            </div>
    	</div>
    </div>
</section>