 <section id="introduction">
	<h5>jQuery</h5>
	<p><code>jQuery</code> — библиотека <code>JavaScript</code>, фокусирующаяся на взаимодействии <code>JavaScript</code> и <code>HTML</code>. Библиотека <code>jQuery</code> помогает легко получать доступ к любому элементу <code>DOM</code>, обращаться к атрибутам и содержимому элементов <code>DOM</code>, манипулировать ими. Также библиотека <code>jQuery</code> предоставляет удобный <code>API</code> для работы с <code>AJAX</code></p>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <img class="img-fluid my-4" src="../img/png/jquery-logo.png" alt="">
    </div>
    <p>Страницы <code>jQuery</code></p>
    <ul class="page-list">
        <li><a ui-sref="jquery.download">download</a></li>
        <li><a ui-sref="jquery.gifplayer">gifplayer</a></li>
        <li><a ui-sref="jquery.highlight">highlight</a></li>
        <li><a ui-sref="jquery.bxslider-4">bxSlider</a></li>
        <li><a ui-sref="jquery.chart">chart</a></li>
        <li><a ui-sref="jquery.caman">caman</a></li>
        <li><a ui-sref="jquery.tilt">tilt.js</a></li>
        <li><a ui-sref="jquery.slider-pips">slider-pips</a></li>
        <li><a ui-sref="jquery.defiantjs">defiant.js</a></li>
        <li><a ui-sref="jquery.html2canvas">html2canvas</a></li>
        <li><a ui-sref="jquery.isotope">isotope</a></li>
        <li><a ui-sref="jquery.jssocials">jsSocials</a></li>
    </ul>
    <hr>
    <h5>Почему jQuery?</h5>
    <p>Девиз <code>jQuery</code> <span class="text-primary">«write less, do more»</span> (пиши меньше, делай больше) отражает ее главное предназначение. <code>jQuery</code> позволяет создавать анимацию, обработчики событий, значительно облегчает выбор элементов в <code>DOM</code> и создание <code>AJAX</code> запросов.</p>
    <p>Данная библиотека работает со всеми браузерами (IE 6.0+, FF 2.0+, Safari 3.0+, Opera 9.0+, Chrome). Это значит, что Вам больше не нужно будет беспокоиться о кроссбраузерной совместимости <code>JavaScript</code> кода. Для <code>jQuery</code> написано огромное количество плагинов, которые позволяют расширить ее возможности еще больше.</p>
    <hr>
    <p class="mb-0">Подробности на сайте <a target="_blank" href="https://jquery.com/">jquery.com</a></p>
</section>
