<section id="jssocials">
	<h5>jsSocials.js</h5>
	<a target="_blank" href="https://github.com/tabalinas/jssocials"><mark>https://github.com/tabalinas/jssocials</mark></a>
	<p><code>JsSocials</code> - это простая кнопка "Поделиться" для социальных сетей, на основе <code>jQuery</code> плагина. Гибкий и легко расширяемый плагин с возможностью настроить внешний вид или выбрать одну из нескольких тем. При необходимости можно добавить любую неподдерживаемую плагином социальную сеть.</p>
	<p><strong>Пример использования:</strong></p>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div id="shared">	
		</div>
	</div>	
</section>