<section id="slider-pips">
	<h5>jQuery UI Slider Pips</h5>
	<a target="_blank" href="https://github.com/simeydotme/jQuery-ui-Slider-Pips"><mark>https://github.com/simeydotme/jQuery-ui-Slider-Pips</mark></a>
	<p>Плагин для добавления «линеек» и отметок на них в основе слайдера на <code>JQuery</code>. Этот плагин расширяет виджет <code>JQuery UI Slider</code></p>
	<div class="row">
		<div class="col-12">
			<img class="gifplayer img-thumbnail align-baseline" data-gif="../../img/gif/slider-pips.gif" src="../../img/png/slider-pips.png" alt="">
		</div>
	</div>		
	<div class="row mt-4">
		<div class="col-12">
			<h5>Настраиваемые метки</h5>
			<p>Можно установить свои ярлыки вместо значений по умолчанию. Стоит отметить, что слайдер все равно сможет возвращать свое числовое значение.</p>
			<p id="custom-labels-output" class="panel callout radius text-center">123</p>
			<div id="slider-custom-labels" class="slider"></div>
		</div>	
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<h5>Диапазон</h5>
			<p>Можно добавить два ползунка, чтобы отобразить значения в диапазоне min / max.</p>
			<div id="slider-hide-all" class="slider"></div>
		</div>	
	</div>		
	<div class="row mt-4">
		<div class="col-12">
			<h5>Круглые ползунки</h5>
			<p class="mb-4">Другой пример показывающий возможности стандартной стилизации плагина.</p>
			<div id="circles-slider" class="slider"></div>
		</div>	
	</div>	
	<div class="row mt-4">
		<div class="col-12">
			<h5>Чередующиеся ярлыки</h5>
			<p class="mb-5">Чередующиеся цветные ярлыки сделанные на <code>CSS3</code> селекторах <code>nth-child</code></p>
			<div id="rainbow-slider" class="slider"></div>
		</div>	
	</div>		
	<div class="row mt-4">
		<div class="col-12">
			<h5>Плоский слайдер</h5>
			<p class="pb-4">Пример современного <code>flat</code> слайдера с ползунками</p>
			<div id="flat-slider" class="slider"></div>
		</div>	
	</div>			
</section>