<section id="tiltjs">
	<h5>tilt.js</h5>
	<a target="_blank" href="https://github.com/gijsroge/tilt.js"><mark>https://github.com/gijsroge/tilt.js</mark></a>
	<p>Легковесный <code>Parallax</code> эффект наведения для элементов на <code>jQuery</code></p>
	<div class="row">
		<div class="col-12">
			<img class="gifplayer img-thumbnail align-baseline" data-gif="../img/gif/tilt.gif" src="../img/png/tilt.png" alt="">
		</div>
	</div>	
	<div class="ws-alert-warning" role="alert">
		<strong>Примечание:</strong> Не работает на сенсорных (мобильных) устройствах, так как логика основана на движении мышью. Работает без <code>CSS</code>, требуется <code>JQuery</code>
	</div> 	
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<div class="no-border pt-5">
				<div data-tilt id="tilt-image" class="js-tilt back-image">
					<!-- <div class="lead"><h3 class="display-4 text-white">WS</h3></div> -->
				</div>					
				<h5 class="card-title text-center mt-5">Изображение</h5>
			</div>		
		</div>	
		<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<div class="no-border pt-5">
				<div data-tilt id="tilt-simple" class="js-tilt back-three">
					<div class="lead"><h3 class="display-4 text-white">WS</h3></div>
				</div>					
				<h5 class="card-title text-center mt-5">Простое использование</h5>
			</div>		
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<div class="no-border pt-5">
				<div data-tilt id="tilt-parallax" class="js-tilt back-two" style="transform-style: preserve-3d;">
					<div class="text-white" style="font-size: 1.5rem; transform: translateZ(20px);">
						<div class="inside-block"></div>
					</div>
				</div>					
				<h5 class="card-title text-center mt-5">Parallax эффект</h5>
			</div>		
		</div>	
		<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<div class="no-border pt-5">
				<div data-tilt id="tilt-glare" class="js-tilt back-three"></div>					
				<h5 class="card-title text-center mt-5">Добавление бликов</h5>
			</div>		
		</div>			
	</div>
</section>