<section id="introduction">
    <h5>AngularJS</h5>
    <p>Супер-героический фреймворк для веб-приложений! <code>AngularJS</code> это то, чем был бы <code>HTML</code>, если бы он проектировался для веб-приложений. Декларативные шаблоны с <code>data-binding</code>, <code>MVW</code>, <code>MVVM</code>, <code>MVC</code>, <code>dependency injection</code> и превосходная тестируемость всех инструментов в чистом клиентском <code>JavaScript</code></p>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <img class="img-fluid my-4" src="../img/png/angularjs-logo.png" alt="">
    </div>
    <p>Страницы <code>AngularJS</code></p>
    <ul class="page-list">
        <li><a ui-sref="angular.ng-scrollbars">ng-scrollbars</a></li>         
        <li><a ui-sref="angular.swangular">swangular</a></li>         
        <li><a ui-sref="angular.angucomplete-alt">angucomplete-alt</a></li>         
        <li><a ui-sref="angular.summernote">summernote</a></li>         
        <li><a ui-sref="angular.hotkeys">hotkeys</a></li>         
        <li><a ui-sref="angular.ng-tagsinput">ngtagsinput</a></li>         
        <li><a ui-sref="angular.gridster">gridster</a></li>         
        <li><a ui-sref="angular.ui-cropper">ui-cropper</a></li>
        <li><a ui-sref="angular.ws-table">ws-table</a></li>
        <li><a ui-sref="angular.ws-chat">ws-chat</a></li>
        <li><a ui-sref="angular.colorpicker">colorpicker</a></li>
        <li><a ui-sref="angular.typewrite">typewriter</a></li>
    </ul>
    <hr>
    <h5>Почему AngularJS?</h5>
    <p><code>HTML</code> отлично подходит для описания статичных документов, но спотыкается при попытке описать динамические виды в веб-приложениях. <code>AngularJS</code> позволяет расширить синтаксис <code>HTML</code>. В результате код получается выразительным, читаемым, и легко поддерживается.</p>
    <h5>Расширяемость</h5>
    <p><code>AngularJS</code> — это набор инструментов для построения фреймворка, наиболее подходящего для создания веб-приложения. Он расширяем и отлично взаимодействует с другими библиотеками. Любая особенность может быть изменена или заменена в соответствии с уникальным путем развития и потребностями вашего приложения.</p>
    <hr>
    <p class="mb-0">Подробности на сайте <a target="_blank" href="https://angularjs.org/">angularjs.org</a></p>
</section>