<section id="angucomplete" ng-init="angucomplete.loadCountries()">
    <h5>angucomplete-alt</h5>
    <a target="_blank" href="https://github.com/ghiden/angucomplete-alt"><mark>https://github.com/ghiden/angucomplete-alt</mark></a>
    <p>Простая и сильная <code>AngularJS</code> директива, которая позволяет быстро создавать автозаполнение для полей ввода, данные могут быть получены с сервера (необходима поддержка <code>RESTful API</code>) или локальной переменной.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p><strong>Example 1</strong> - Countries of the World (from <code>JSON</code>)</p>
            <angucomplete-alt id="ex1"
                          placeholder="Search countries"
                          pause="100"
                          selected-object="selectedCountry"
                          local-data="angucomplete.countries"
                          search-fields="name"
                          title-field="name"
                          minlength="1"
                          match-class="highlight"
                          input-class="form-control form-control-small mb-3"/>
            <p ng-show="selectedCountry">You selected <strong>{{selectedCountry.originalObject.name}}</strong> which has a country code of <strong>{{selectedCountry.originalObject.code}}</strong></p>
            <p><strong>Example 2</strong> - Heroes (from <code>object</code>)</p>
            <angucomplete-alt id="ex1"
                          placeholder="Search heroes"
                          pause="300"
                          selected-object="selectedHero"
                          local-data="angucomplete.heroes"
                          search-fields="name"
                          title-field="name"
                          description-field="realname"
                          image-field="picture"
                          minlength="1"
                          match-class="highlight"
                          input-class="form-control form-control-small mb-3"/>
            <p ng-show="selectedHero">You selected <strong>{{selectedHero.originalObject.name}}</strong> from <strong>{{selectedHero.originalObject.city}}</strong></p>
        </div>
    </div>
</section>