<section id="colorpicker">
    <h5>angular-bootstrap-colorpicker</h5>
    <a target="_blank" href="https://github.com/buberdds/angular-bootstrap-colorpicker"><mark>https://github.com/buberdds/angular-bootstrap-colorpicker</mark></a>    
    <p>Плагин представляет нативный <code>AngularJS</code> основанный на <code>Bootstrap-Colorpicker</code> библиотеке. Нет зависимости от <code>JQuery</code>.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card text-center mb-3">
              <div class="card-header">{{colorpickerjs.colorpickerHex}}</div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                    <span class="fa-stack fa-4x full-width">
                      <i class="fa fa-battery-empty fa-stack-2x z-index-ten" aria-hidden="true"></i>
                      <i class="fa fa-battery-three-quarters fa-stack-2x" style="color:{{colorpickerjs.colorpickerHex}};" aria-hidden="true"></i>
                    </span><br>
                  <button class="btn btn-primary my-3" colorpicker="hex" colorpicker-size="250" ng-model="colorpickerjs.colorpickerHex">Select color</button>
                </blockquote>
              </div>
              <div class="card-footer text-muted">HEX - представление в виде трёх пар шестнадцатеричных цифр, где каждая пара отвечает за свой цвет.</div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card text-center mb-3">
              <div class="card-header">{{colorpickerjs.colorpickerRgb}}</div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                    <span class="fa-stack fa-4x full-width">
                      <i class="fa fa-battery-empty fa-stack-2x z-index-ten" aria-hidden="true"></i>
                      <i class="fa fa-battery-half fa-stack-2x" style="color:{{colorpickerjs.colorpickerRgb}};" aria-hidden="true"></i>
                    </span><br>
                  <button class="btn btn-primary my-3" colorpicker="rgb" colorpicker-size="250" ng-model="colorpickerjs.colorpickerRgb">Select color</button>
                </blockquote>
              </div>
              <div class="card-footer text-muted">RGB — аддитивная цветовая модель, описывающая способ кодирования цвета для цветовоспроизведения.</div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card text-center mb-3">
              <div class="card-header">{{colorpickerjs.colorpickerRgba}}</div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                    <span class="fa-stack fa-4x full-width">
                      <i class="fa fa-battery-empty fa-stack-2x z-index-ten" aria-hidden="true"></i>
                      <i class="fa fa-battery-quarter fa-stack-2x" style="color:{{colorpickerjs.colorpickerRgba}};" aria-hidden="true"></i>
                    </span><br>
                  <button class="btn btn-primary my-3" colorpicker="rgba" colorpicker-size="250" ng-model="colorpickerjs.colorpickerRgba">Select color</button>
                </blockquote>
              </div>
              <div class="card-footer text-muted">Формат RGBA похож по синтаксису на RGB, но включает в себя альфа-канал, задающий прозрачность элемента.</div>
            </div>
        </div>
    </div>
</section>