<section data-section="gridster" id="gridster">
    <h5>angular-gridster</h5>
    <a target="_blank" href="https://github.com/ManifestWebDesign/angular-gridster"><mark>https://github.com/ManifestWebDesign/angular-gridster</mark></a>
    <p>Реализация <code>Gridster</code> типа виджетов для <code>AngularJS</code>. Это не обертка на оригинальный <code>JQuery</code> плагин (<a href="http://gridster.net/">http://gridster.net/</a>). Это полностью переписанный плагин для <code>AngularJS</code>. Написание плагина с нуля добавило некоторые дополнительные функции, а использование двухстороннего связывания данных дает больше производительности.</p>
    <p>Так же, попробуйте переключаемые режимы:</p>
    <div class="btn-group d-block" data-toggle="buttons">
      <label class="btn btn-secondary" aria-pressed="false" ng-click="gridsterjs.gridsterOpts.draggable.enabled = !gridsterjs.gridsterOpts.draggable.enabled">
        <input type="checkbox" autocomplete="off">Draggability - {{gridsterjs.gridsterOpts.draggable.enabled}}</label>
      <label class="btn btn-secondary" aria-pressed="false" ng-click="gridsterjs.gridsterOpts.resizable.enabled = !gridsterjs.gridsterOpts.resizable.enabled">
        <input type="checkbox" autocomplete="off">Resizability - {{gridsterjs.gridsterOpts.resizable.enabled}}</label>
      <label class="btn btn-secondary" aria-pressed="false" ng-click="gridsterjs.gridsterOpts.pushing = !gridsterjs.gridsterOpts.pushing">
        <input type="checkbox" autocomplete="off">Pushing - {{gridsterjs.gridsterOpts.pushing}}</label>      
    </div>
    <div class="col-12" gridster="gridsterjs.gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in gridsterjs.standardItems">
            <div class="text-muted grid-text">
                <span>X{{item.sizeX}} - Y{{item.sizeY}}</span><br>
                <span>Row - {{item.row}}</span><br>
                <span>Col - {{item.col}}</span>
            </div>
            </li>
        </ul>
    </div>
</section>