<section id="hotkeys">
    <h5>angular-hotkeys</h5>
    <a target="_blank" href="https://github.com/chieffancypants/angular-hotkeys"><mark>https://github.com/chieffancypants/angular-hotkeys</mark></a>
    <p>Комбинация специальных сочетаний клавиш для приложений на <code>AngularJS</code>. Хотите попробовать? Нажмите <kbd>ctrl + x</kbd> на клавиатуре. На любую клавишу и их сочетание можно привязать любое действие на сайте. Так же можете поробовать <kbd>ctrl + alt + shift + x</kbd> или просто <kbd>x</kbd></p>
	<div class="ws-alert-warning" role="alert">
	  <strong>Примечание:</strong> Клавиши не могут быть прослушаны если фокус вашего браузера занят, находится в поле ввода или редакторе текста. Так же возможны исключения из-за раскладки клавиатуры и некоторых языков (редко).
	</div>    
    <div class="hk-overlay">
        <div class="hk-box">
            <h3>That's how it works!</h3>
            <p>For cancel press <kbd>ctrl + z</kbd> or <kbd>esc</kbd></p>
        </div>
    </div>
</section>