<section id="ng-scrollbars" ng-init="scrollbars.loadHeroesFile()">
    <h5>ng-scrollbars</h5>
    <a target="_blank" href="https://github.com/iominh/ng-scrollbars"><mark>https://github.com/iominh/ng-scrollbars</mark></a>
    <p>Набор настраиваемых скроллбаров для <code>AngularJS</code>, позволяет применять согласованные стили и поведение между различными браузерами (включая <code>Firefox</code>), в основе которых <code>JQuery</code> плагин <a target="_blank" href="http://manos.malihu.gr/jquery-custom-content-scroller/"> Malihu's jQuery Custom Scrollbar by Manos Malihutsakis</a>. Плагин предоставляет директиву <code>AngularJS</code> с универсальной конфигурацией или индивидуальной конфигурации каждого скроллбара.</p>
    <p><strong>Горизонтальный и вертикальный примеры:</strong></p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-4">
            <div class="card">
              <div class="card-block bg-faded" ng-scrollbars ng-scrollbars-config="scrollbars.faded">
                <div>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                <hr>
                <p>
                <img class="float-left mr-3 my-3" src="../../img/png/superheroes/superman.png" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi doloribus dolorum odit quam adipisci, incidunt provident, magni commodi ratione in et voluptatum cupiditate. Temporibus quibusdam optio fuga molestiae mollitia ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat corrupti id fugit, deleniti. Quis vero, provident placeat molestias architecto culpa illum quia est totam. Neque alias blanditiis totam vel quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fuga soluta quisquam ipsam doloribus laborum consequatur mollitia molestias minima obcaecati commodi dolorum, iusto expedita debitis. Libero, vero ex. Dicta, ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eum, laudantium? Totam accusantium corporis quasi, aperiam eos numquam asperiores ipsam illum voluptatum, amet itaque reiciendis eius quas. Rem, rerum, laboriosam! 
                <img class="float-left mr-3 my-3" src="../../img/png/superheroes/captainamerica.png" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi doloribus dolorum odit quam adipisci, incidunt provident, magni commodi ratione in et voluptatum cupiditate. Temporibus quibusdam optio fuga molestiae mollitia ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat corrupti id fugit, deleniti. Quis vero, provident placeat molestias architecto culpa illum quia est totam. Neque alias blanditiis totam vel quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fuga soluta quisquam ipsam doloribus laborum consequatur mollitia molestias minima obcaecati commodi dolorum, iusto expedita debitis. Libero, vero ex. Dicta, ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eum, laudantium? Totam accusantium corporis quasi, aperiam eos numquam asperiores ipsam illum voluptatum, amet itaque reiciendis eius quas. Rem, rerum, laboriosam!</p>
                </div>
              </div>
            </div>  
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-4">
            <div class="card">
              <div class="card-block bg-primary text-white" ng-scrollbars ng-scrollbars-config="scrollbars.primary">
                <div style="width: 1000px;">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi doloribus dolorum odit quam adipisci, incidunt provident, magni commodi ratione in et voluptatum cupiditate. Temporibus quibusdam optio fuga molestiae mollitia ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat corrupti id fugit, deleniti. Quis vero, provident placeat molestias architecto culpa illum quia est totam. Neque alias blanditiis totam vel quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fuga soluta quisquam ipsam doloribus laborum consequatur mollitia molestias minima obcaecati commodi dolorum, iusto expedita debitis. Libero, vero ex. Dicta, ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eum, laudantium? Totam accusantium corporis quasi, aperiam eos numquam asperiores ipsam illum voluptatum, amet itaque reiciendis eius quas. Rem, rerum, laboriosam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi doloribus dolorum odit quam adipisci, incidunt provident, magni commodi ratione in et voluptatum cupiditate. Temporibus quibusdam optio fuga molestiae mollitia ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat corrupti id fugit, deleniti. Quis vero, provident placeat molestias architecto culpa illum quia est totam. Neque alias blanditiis totam vel quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fuga soluta quisquam ipsam doloribus laborum consequatur mollitia molestias minima obcaecati commodi dolorum, iusto expedita debitis. Libero, vero ex. Dicta, ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eum, laudantium? Totam accusantium corporis quasi, aperiam eos numquam asperiores ipsam illum voluptatum, amet itaque reiciendis eius quas. Rem, rerum, laboriosam!</p>
                </div>
              </div>
            </div>  
        </div>        
    </div>
    <p><strong>Карусель/слайдер с пользовательской версткой:</strong></p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-4">
            <div class="card">
              <div class="card-block bg-faded" ng-class="panel.cssClasses" ng-scrollbars ng-scrollbars-config="scrollbars.images">
                  <div style="width: 2000px;">
                    <div class="d-inline-block align-top" ng-repeat="hero in scrollbars.heroesFile">
                        <img src="../img/png/superheroes/{{hero.picture}}" alt="">
                    </div>
                    <div class="d-inline-block align-top p-3" style="width: 300px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. obcaecati nihil necessitatibus vel illum itaque ea molestias vero!
                    </div>
                  </div>  
              </div>
            </div>  
        </div>
    </div>            
    <p><strong ng-click="scrollbars.switchReverse = !scrollbars.switchReverse">Тема оформления:</strong></p>
    <div class="btn-group mb-3" data-toggle="buttons">
      <label class="btn btn-secondary active" ng-click="scrollbars.switchReverse = true" aria-pressed="true">
        <input type="radio" name="options" id="option2" autocomplete="off"> Light
      </label>
      <label class="btn btn-secondary" ng-click="scrollbars.switchReverse = false" aria-pressed="true">
        <input type="radio" name="options" id="option3" autocomplete="off"> Dark
      </label>
    </div>    
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 xl-4 pb-4" ng-repeat="panel in scrollbars.panels | orderBy:scrollbars.themeSwitch:scrollbars.switchReverse | limitTo: 9">
			<div class="card">
			  <div class="card-block scrollbar-block" ng-class="panel.cssClasses" ng-scrollbars ng-scrollbars-config="panel.config">
			    <h4>{{panel.title}}</h4>
            	<hr>
			    <p>{{panel.text}}</p>
			  </div>
			</div>  
        </div>
    </div> 
</section>

