<section id="tagsinput" ng-init="tagsinput.loadTags()">
    <h5>ngTagsInput</h5>
    <a target="_blank" href="https://github.com/mbenford/ngTagsInput"><mark>https://github.com/mbenford/ngTagsInput</mark></a>
    <p>Плагин <code>ngTagsInput</code> представляет собой поле ввода, которое автоматически создает теги из напечатанного текста каждый раз при нажатии определенной клавиши (например <code>Enter</code>).</p>
    <h5 class="mt-3">Автозаполнение</h5>
    <p>Просто начните писать тег, плагин автоматически начнет искать совпадения в полученном <code>JSON</code> файле, и если таковые будут найдены, предложит выбрать.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <tags-input ng-model="tagsinput.tags" display-property="name" placeholder="Add a superhero">
                <auto-complete source="tagsinput.searchTags($query)" min-length="1" load-on-down-arrow="true" template="heroes-template"></auto-complete>
            </tags-input>
            <script type="text/ng-template" id="heroes-template">
              <div class="float-left">
                <img ng-src="../img/png/superheroes/{{data.picture}}" width="64" height="64"/>
              </div>
              <div class="float-left ml-2 mt-1">
                <div><span ng-bind-html="$highlight(data.name)"></span></div>
                <div class="mt-1">
                  <div class="font-italic">{{data.realname}}</div>
                  <div class="font-italic"><small>{{data.city}}</small></div>
                </div>
              </div>
            </script>
        </div>
    </div>
    <h5 class="mt-3">Валидация</h5>
    <p>В конкретном случае можно задать тип вводимой информации через регулярное выражение.</p>
    <p class="text-danger">В примере ниже можно ввести только цифры</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
            <tags-input ng-model="tagsinput.numberTags" placeholder="Add a number" min-length="1" max-length="10" allowed-tags-pattern="^[0-9]+$"></tags-input>
        </div>
    </div>    
    <h5 class="mt-3">Хэштеги</h5>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
            <tags-input class="tags-input-hashtag" ng-model="tagsinput.simpleTags" min-length="1" max-length="10" placeholder="add your #hashtag"></tags-input>
        </div>
    </div>    
</section>