<section id="summernote" ng-init="summernotejs.init()">
    <h5>angular-summernote</h5>
    <a target="_blank" href="https://github.com/summernote/angular-summernote"><mark>https://github.com/summernote/angular-summernote</mark></a>
    <p>Супер простой <code>WYSIWYG</code> редактор.</p>
    <p><a target="_blank" href="http://summernote.org/">Summernote</a> это <code>JavaScript</code> библиотека, которая позволяет создавать визуальные редакторы текста, а <code>angular-summernote</code> это директива, чтобы связать <code>summmernote</code> и все его функции с <code>AngularJS</code></p>
    <p>В представленном редакторе можно добавлять изображения (по ссылке и с устройства), видео с <code>Youtube</code> и прочих сервисов, добавлять таблицы, ссылки и многое другое.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
            <div config="summernotejs.summernoteOptions" summernote>
                  <div class="placeholder">
                    hi,<br>
                    we are summernote.<br>
                    please, write text here!<br>
                    super simple WYSIWYG editor on Bootstrap
                  </div>
            </div>
        </div>
    </div>
    <h5 class="mt-3">airMode</h5> 
    <p>Так же редактор можно встроить в обычное поле, попробуйте выделить текст и он появится!</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <div summernote airMode on-init="summernotejs.init()">
                  <div class="placeholder">
                    hi,<br>
                    we are summernote.<br>
                    please, write text here!<br>
                    super simple WYSIWYG editor on Bootstrap
                  </div>
            </div>
        </div>
    </div>    
</section>