<section id="swangular">
    <h5>swangular</h5>
    <a target="_blank" href="https://github.com/skeymeulen/swangular"><mark>https://github.com/skeymeulen/swangular</mark></a>
    <p>Красивые анимированные и настраиваемые окна уведомлений, плагин-оболочка <code>AngularJS</code> для <code>JQuery</code> плагина <a target="_blank" href="https://limonte.github.io/sweetalert2/">SweetAlert2</a> с некоторыми дополнительными функциональными возможностями, типа привязки к области видимости контроллера и использование пользовательской верстки.</p>
    <div class="row">
    	<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    		<img class="gifplayer img-thumbnail align-baseline" data-gif="../img/gif/sweetalert2.gif" src="../img/png/sweetalert2.png" alt="">
    	</div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-6">
            <!-- <p class="mb-1"><strong>Тип сообщений:</strong></p> -->
            <div class="mr-3 d-inline-block align-top">
                <div class="swal2-icon swal2-success my-2"><span class="line tip animate-success-tip"></span><span class="line long animate-success-long"></span><div class="placeholder" style="border-color: #a5dc86;"></div></div>
            </div>   
            <div class="mr-3 d-inline-block align-top">
                <div class="swal2-icon swal2-error my-2"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div>
            </div>       
            <div class="mr-3 d-inline-block align-top">
                <div class="swal2-icon swal2-warning my-2">!</div>
            </div> 
            <div class="mr-3 d-inline-block align-top">
                <div class="swal2-icon swal2-info my-2">i</div>
            </div> 
            <div class="mr-3 d-inline-block align-top">
                <div class="swal2-icon swal2-question my-2">?</div>
            </div>             
        </div> 
    </div>    
    <p class="mt-3"><strong>Примеры сообщений:</strong></p>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Try me!</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('basic')">Basic</button></td>
                  <td>A basic message</td>
                </tr>  
                <tr>
                  <th scope="row">2</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('text')">With text</button></td>
                  <td>A title with a text under</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><button type="button" class="btn btn-outline-success btn-sm" ng-click="swangular.swal('success')">Success!</button></td>
                  <td>A <span class="text-success">success</span> message!</td>
                </tr>    
                <tr>
                  <th scope="row">4</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('timer')">Auto close timer</button></td>
                  <td>A message with auto close timer</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('html')">HTML layout</button></td>
                  <td>Custom HTML description and buttons</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td><button type="button" class="btn btn-outline-warning btn-sm" ng-click="swangular.swal('animation')">Сustom animation</button></td>
                  <td>jQuery HTML with custom animation (<a target="_blank" href="https://github.com/daneden/animate.css">Animate.css</a>)</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('attached')">Attached message</button></td>
                  <td>A warning message, with a function attached to the "Confirm" and "Cancel" buttons.</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td><button type="button" class="btn btn-outline-warning btn-sm" ng-click="swangular.swal('background')">Custom background</button></td>
                  <td>A message with custom width, padding and background</td>
                </tr>
                 <tr>
                  <th scope="row">9</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('chaining')">Chaining modals</button></td>
                  <td>Chaining modals (queue) example</td>
                </tr>   
                <tr>
                  <th scope="row">10</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('query')">Dynamic query</button></td>
                  <td>Dynamic queue example</td>
                </tr> 
                <tr>
                  <th scope="row">11</th>
                  <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="swangular.swal('email')">Email validation</button></td>
                  <td>A message with email validation</td>
                </tr>                        
              </tbody>
            </table>            
        </div>
    </div>
</section>