<section id="typewriter">
    <h5>angular-typewrite</h5>
    <a target="_blank" href="https://github.com/antoniocapelo/Angular-Typewrite/"><mark>https://github.com/antoniocapelo/Angular-Typewrite/</mark></a>    
    <p><code>AngularJS</code> директива, которая имитирует эффект набора текста в текстовом редакторе с мигающим курсором. Эта директива работает как атрибут к любому <code>HTML</code> элементу, и позволяет задать дополнительные параметры типа скорости и задержки его анимации.</p>
    <h5 class="text-muted" typewrite initial-delay="1s" type-delay="100" text="'AngularJS Directive for \'Typing\' effect'"></h5>
    <p typewrite type-delay="100" start="typewritejs.typewrite" blink-cursor="false" text="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam assumenda ipsum veniam modi dicta perferendis ex placeat quaerat, voluptates.'"></p>
    <p class="text-primary cursor-pointer" ng-click="typewritejs.startTyping($event)">Для старта имитации ввода нажмите сюда</p>
</section>