<section id="uicropper">
    <h5>ui-cropper</h5>
    <a target="_blank" href="https://github.com/CrackerakiUA/ui-cropper"><mark>https://github.com/CrackerakiUA/ui-cropper</mark></a>
    <p>Простая директива типа <code>Image Crop</code> для <code>AngularJS</code>. Позволяет обрезать изображение по кругу, квадрату или прямоугольнику.</p>
    <p>Select an image file:</p>
    <label class="custom-file">
        <input type="file" id="cropInput" class="custom-file-input" name="files" accept="image/*"><span class="custom-file-control"></span>
    </label>    
    <p class="mt-3">Select type:</p>
    <div class="row mt-1">
        <div class="col-12">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-secondary active" aria-pressed="true" ng-click="uicropper.switchType('rectangle')">
                <input type="radio" name="options" id="option-1" autocomplete="off"> Set rectangle
              </label>
              <label class="btn btn-secondary" aria-pressed="true" ng-click="uicropper.switchType('circle')">
                <input type="radio" name="options" id="option-2" autocomplete="off"> Set circle
              </label>
              <label class="btn btn-secondary" aria-pressed="true" ng-click="uicropper.switchType('square')">
                <input type="radio" name="options" id="option-3" autocomplete="off"> Set square
              </label>              
            </div>             
        </div>
    </div>        
    <div class="row">
        <div class="col-12 mt-3">
            <div class="croparea-wrapper m-2">
                <div class="croparea">
                    <ui-cropper ng-if="uicropper.render" image="uicropper.image" area-type="{{uicropper.type}}" area-init-size="{w:cropper.cropWidth,h:cropper.cropHeight}" cropject="cropper" result-image="uicropper.croppedImage"></ui-cropper>
                </div>
            </div>
            <div class="d-inline-block align-top m-3">
                <p><a href="" ng-click="uicropper.downloadCroppedImage()">Download</a> cropped image:</p>
                <!-- <div class="img-thumbnail" style="height: {{cropper.cropHeight}}px; width: {{cropper.cropWidth}}px;"> -->
                <div class="img-thumbnail p-3">
                    <div class="cropped-image-background">
                        <img class="cropped-image" ng-src="{{uicropper.croppedImage}}"/>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>