<section id="wschat">
    <h5>ws-chat</h5>
    <a href="https://firebase.google.com/"><mark>https://firebase.google.com/</mark></a>
    <p>Самый простой чат основанный на <code>AngularJS</code> + <code>Firebase</code>. В этом чате может написать сообщение любой посетитель, его сообщение будет отправлено в облачную базу данных для <code>real-time</code> приложений после чего чат будет глобально обновлен и у любого посетителя <code>online</code> появится новое сообщение.</p>
    <hr>
    <p>Этот чат я сделал менее чем за час (легкая реализация благодаря <code>Firebase</code>), как демонстрация работы <code>Firebase</code> базы данных в реальном времени.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-3">
            <div class="ws-chat-wrapper" >
                <div class="card p-3 bg-primary text-white">Это чат на Firebase</div>        
                <div class="ws-chat-list">
                    <div class="media">
                        <div id="messageList" class="media-body">
                            <p ng-repeat="message in wschat.listMessages">{{message.text}}</p>
                        </div>
                    </div>                        
                </div>    
                <form class="bg-faded">
                    <input type="text" class="form-control" id="messageInput" aria-describedby="message" placeholder="..." ng-model="wschat.message" title="3 characters minimum" autocomplete="off">
                    <button type="submit" class="btn btn-outline-success btn-sm lead p-2 m-2" role="button" ng-click="wschat.sendMessage()">Добавить</button>            
                    <button type="submit" class="btn btn-outline-danger btn-sm lead p-2 m-2" role="button" ng-click="wschat.removeAll()">Удалить всё</button>            
                </form>
            </div>               
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-3">
            <div class="ws-alert-warning" role="alert">
              <strong>Примечание:</strong> Для соблюдения норм публичного общения в интернете и своебразной защиты от спама, добавлена красная кнопка <strong>«Удалить всё»</strong>, нажав на которую база данных сообщений в чате будет полностью очищена.
            </div>     
        </div>
    </div>        
</section>