<section id="wstable" ng-init="wstable.tableItemsLoad()">
    <h5>ws-table</h5>
    <p>К сожалению многие плагины <code>AngularJS</code> для обработки таблиц являются тяжеловесными, без кастомизации или неудобны в использовании, поэтому я сделал собственные таблицы. Легковесная реализация на чистом <code>Bootstrap 4</code> + <code>AngularJS</code>, поддержка и расширение на нативном уровне. В дополнение подключен универсальный плагин для нумерации контента по страницам.</p>
    <h5>dirPagination</h5>
    <a target="_blank" href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination"><mark>https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination</mark></a>
    <p>Да, есть немало решений пагинации в <code>AngularJS</code>, но то, что хотел сделать автор плагина это действительно <code>plug-n-play</code> - не нужно делать какие-либо настройки или логики в контроллере. Надо просто добавить атрибут, навигацию (с использованием <code>HTML</code> шаблонов) и полнофункциональная нумерация страниц готова.</p>
    <div class="row mb-3">
        <div class="col-12">
        <div class="ws-alert-warning" role="alert"><strong>Примечание:</strong> Добавление в таблицу без валидации, нет необходиости заполнять все поля, <span class="text-success">можно добавить абсолютно пустую строку</span>, новая запись будет добавлена в конец таблицы.</div>        
        <hr>  
        <p><strong>Добавление информации в таблицу:</strong></p>
            <form class="form-horizontal row" role="form" ng-submit="wstable.addTableRow()">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" name="Name" ng-model="wstable.tableName" />
                  </div>        
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                  <div class="form-group">
                    <label class="control-label">Surname</label>
                    <input type="text" class="form-control" name="Surname" ng-model="wstable.tableSurname" />
                  </div>    
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                  <div class="form-group">
                    <label class="control-label">Company</label>
                    <input type="text" class="form-control" name="Company" ng-model="wstable.tableCompany" />
                  </div>    
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" name="Email" ng-model="wstable.tableEmail" />
                  </div>    
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                  <div class="form-group">
                    <label class="control-label">Phone</label>
                    <input type="text" class="form-control" name="Phone" ng-model="wstable.tablePhone" />
                  </div>      
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                  <div class="form-group">
                    <label class="control-label">Confirm information</label>
                    <div class="form-group"><input type="submit" value="Add row" class="btn btn-primary"/></div>
                  </div>         
                </div>
            </form>
        <hr>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4 mb-3">
                  <label for="search">Input search:</label>
                  <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="search" ng-model="wstable.search" placeholder="Search text">
                  </div>              
                </div>  
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4 mb-3">
                  <label for="search">Items on page:</label>
                  <div class="input-group">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-secondary" ng-click="wstable.pageSize = 5" aria-pressed="true">
                        <input type="radio" name="options" id="option1" autocomplete="off"> 5
                      </label>
                      <label class="btn btn-secondary active" ng-click="wstable.pageSize = 10" aria-pressed="true">
                        <input type="radio" name="options" id="option2" autocomplete="off"> 10
                      </label>
                      <label class="btn btn-secondary" ng-click="wstable.pageSize = 20" aria-pressed="true">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 20
                      </label>              
                    </div>  
                  </div>         
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-striped table-hover table-sm ">
            <thead class="thead-inverse">
                <tr>
                    <th id="index" class="cursor-pointer text-right" ng-click="wstable.sort('index')">#</th>
                    <th id="name" class="cursor-pointer" ng-click="wstable.sort('name')">Name </th>
                    <th id="surname" class="cursor-pointer" ng-click="wstable.sort('surname')">Surname </th>
                    <th id="company" class="cursor-pointer" ng-click="wstable.sort('company')">Company </th>
                    <th id="email" class="cursor-pointer" ng-click="wstable.sort('email')">Email </th>
                    <th id="phone" class="cursor-pointer" ng-click="wstable.sort('phone')">Phone </th>
                    <th class="cursor-pointer">Manage</th>
                </tr>
            </thead>    
                <tr dir-paginate="item in wstable.tableItems | orderBy: wstable.sortKey:wstable.reverse | filter: wstable.search |itemsPerPage: wstable.pageSize" current-page="wstable.currentPage">
                    <td class="text-right"><strong>{{item.index}}</strong></td>
                    <td>{{item.name}}</td>
                    <td>{{item.surname}}</td>
                    <td>{{item.company}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td><input type="button" value="Remove" class="btn btn-outline-danger btn-sm" ng-click="wstable.removeTableRow(item.index)"/></td>
                </tr>
            </table>            
            <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
        </div>
    </div>
</section>