<section id="alerts">
    <h5>Оповещения</h5>
    <p>Контекстные сообщения обратной связи для типичных действий пользователей с горсткой доступных и гибких предупредительных сообщений.</p>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> You successfully read <a href="#" class="alert-link" ng-click="bootstrap.preventDefault($event)">this important alert message</a>.
            </div>
            <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> This <a href="#" class="alert-link" ng-click="bootstrap.preventDefault($event)">alert needs your attention</a>, but it's not super important.
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link" ng-click="bootstrap.preventDefault($event)">not looking too good</a>.
            </div>
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> <a href="#" class="alert-link" ng-click="bootstrap.preventDefault($event)">Change a few things up</a> and try submitting again.
            </div>            
        </div>
    </div>
    <h5>Дополнительное содержание</h5>
    <p>Предупреждения могут также содержать дополнительные элементы, такие как <code>HTML</code> заголовки, параграфы, кнопки и прочее.</p>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                <div class="my-3">
                    <button type="button" class="btn btn-secondary cursor-pointer">Secondary</button>
                    <button type="button" class="btn btn-success cursor-pointer">Success</button>
                </div>
            </div>            
        </div>
    </div>
</section>