<section id="introduction">
    <h5>Bootstrap</h5>
    <p>Предназначен для всех, во всем мире. <code>Bootstrap</code> - интуитивно простой и в тоже время мощный интерфейсный фреймворк, повышающий скорость и облегчающий разработку <code>web</code> приложений.</p>
    <p>Bootstrap является самой популярной основой в мире для создания отзывчивых мобильных сайтов и приложений. Внутри вы найдете высокое качество <code>HTML</code>, <code>CSS</code>, и <code>JavaScript</code>, чтобы сделать запуск любого проекта проще, чем когда-либо.</p>
    <div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample">
        <p class="mb-0">Посмотреть поддержку мобильных устройств и браузеров</p>
    </div>
    <div class="collapse mb-3" id="collapseOne">
        <div class="card card-block">
            <h5>Мобильные устройства</h5>
            <p>Короче говоря, <code>Bootstrap</code> поддерживает самые последние версии браузеров каждой крупной платформы по умолчанию. Обратите внимание, что прокси-браузеры (например <a target="_blank" href="http://www.opera.com/ru/mobile/mini">Opera Mini</a>, режим <a target="_blank" href="http://www.opera.com/blogs/russia/2015/05/opera-turbo-teper-i-v-opera-dlya-android/">Turbo Opera Mobile</a>, <a target="_blank" href="https://play.google.com/store/apps/details?id=com.uc.browser.en&hl=ru">UC Browser Mini</a>, <a target="_blank" href="https://aws.amazon.com/ru/documentation/silk/">Amazon Silk</a>) не поддерживаются.</p>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <td></td>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Safari</th>
                                <th>Android Browser &amp; WebView</th>
                                <th>Microsoft Edge</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Android</th>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-success text-center">Да, Android 5.0+</td>
                                <td class="text-muted text-center">N/A</td>
                            </tr>
                            <tr>
                                <th scope="row">iOS</th>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-muted text-center">N/A</td>
                            </tr>
                            <tr>
                                <th scope="row">Windows 10 Mobile</th>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-success text-center">Да</td>
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
            <h5>Настольные браузеры</h5>
            <p>Поддерживаются самые последние версии большинства настольных браузеров.</p>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <td></td>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Internet Explorer</th>
                                <th>Microsoft Edge</th>
                                <th>Opera</th>
                                <th>Safari</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Mac</th>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-muted text-center">N/A</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                            </tr>
                            <tr>
                                <th scope="row">Windows</th>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да, IE10+</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-success text-center">Да</td>
                                <td class="text-danger text-center">Нет</td>
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
        </div>
    </div>
    <div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample">
        <p class="mb-0">Посмотреть поддержку разрешений</p>
    </div>
    <div class="collapse mb-3" id="collapseTwo">
        <div class="card card-block">
            <h5>Опции сетки</h5>
            <p>Bootstrap 4 использует <code>EM</code> или <code>REM</code> (единицы измерения) для определения большинства размеров, <code>PX</code> используются для контрольных точек сетки и ширины контейнеров.</p>
            <p>Посмотрите, аспекты системной работы сетки <code>Bootstrap</code> на разных устройствах в этой таблице.</p>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">
                                    Extra small<br>
                                    <small>&lt;576px</small>
                                </th>
                                <th class="text-center">
                                    Small<br>
                                    <small>≥576px</small>
                                </th>
                                <th class="text-center">
                                    Medium<br>
                                    <small>≥768px</small>
                                </th>
                                <th class="text-center">
                                    Large<br>
                                    <small>≥992px</small>
                                </th>
                                <th class="text-center">
                                    Extra large<br>
                                    <small>≥1200px</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-nowrap" scope="row">Grid behavior</th>
                                <td>Horizontal at all times</td>
                                <td colspan="4">Collapsed to start, horizontal above breakpoints</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Max container width</th>
                                <td>None (auto)</td>
                                <td>540px</td>
                                <td>720px</td>
                                <td>960px</td>
                                <td>1140px</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Class prefix</th>
                                <td><code>.col-</code></td>
                                <td><code>.col-sm-</code></td>
                                <td><code>.col-md-</code></td>
                                <td><code>.col-lg-</code></td>
                                <td><code>.col-xl-</code></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row"># of columns</th>
                                <td colspan="5">12</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Gutter width</th>
                                <td colspan="5">30px (15px on each side of a column)</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Nestable</th>
                                <td colspan="5">Yes</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Offsets</th>
                                <td colspan="5">Yes</td>
                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Column ordering</th>
                                <td colspan="5">Yes</td>
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
        </div>
    </div>     
    <hr>
    <p>Страницы <code>Bootstrap</code></p>
    <ul class="page-list">
        <li><a ui-sref="bootstrap.media">Медиа объекты</a></li>
        <li><a ui-sref="bootstrap.typography">Типография</a></li>
        <li><a ui-sref="bootstrap.tables">Таблицы</a></li>
        <li><a ui-sref="bootstrap.alerts">Уведомления</a></li>
        <li><a ui-sref="bootstrap.buttons">Кнопки</a></li>
        <li><a ui-sref="bootstrap.cards">Карточки</a></li>
        <li><a ui-sref="bootstrap.sliders">Слайдеры</a></li>
        <li><a ui-sref="bootstrap.spoilers">Спойлеры</a></li>
        <li><a ui-sref="bootstrap.forms">Формы</a></li>
        <li><a ui-sref="bootstrap.views">Витрины</a></li>
        <li><a ui-sref="bootstrap.listgroup">Списки</a></li>
        <li><a ui-sref="bootstrap.modals">Модальные окна</a></li>
        <li><a ui-sref="bootstrap.tabs">Вкладки</a></li>
        <li><a ui-sref="bootstrap.navigation">Навигация</a></li>
        <li><a ui-sref="bootstrap.tooltips">Подсказки</a></li>  
    </ul>
    <hr>    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card text-center no-border">
            <img class="card-img-top img-fluid" src="../img/png/sass-less.png" alt="SASS-LESS">
            <div class="card-block">
              <h5 class="card-title">Препроцессоры</h5>
              <!-- <p class="card-text">В дополнение к <code>CSS</code>, <code>Bootstrap</code> включает в себя поддержку двух самых популярных <code>CSS</code> препроцессоров, <code>LESS</code> и <code>SASS</code></p> -->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card text-center no-border">
            <img class="card-img-top img-fluid" src="../img/png/devices.png" alt="SASS-LESS">
            <div class="card-block">
              <h5 class="card-title">Один код для всех устройств</h5>
              <!-- <p class="card-text"><code>Bootstrap</code> легко и эффективно масштабирует ваш проект с одной базой кода, от телефонов и планшетов до настольных компьютеров.</p> -->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card text-center no-border">
            <img class="card-img-top img-fluid" src="../img/png/components.png" alt="SASS-LESS">
            <div class="card-block">
              <h5 class="card-title">Документация</h5>
              <!-- <p class="card-text">Вместе с <code>Bootstrap</code> вы получаете обширную и прекрасную документации с сотнями живых примеров, фрагментов кода, и многое другое.</p> -->
            </div>
          </div>
        </div>                
    </div>  
    <hr>
    <p class="mb-0">Подробности на сайте <a target="_blank" href="http://getbootstrap.com/">getbootstrap.com</a></p>    
</section>