<section id="buttons">
    <h5>Кнопки</h5>
    <p>Использование <code>Bootstrap</code> пользовательских стилей кнопок для действий в формах, диалоговых окон и многое другое. Включает поддержку нескольких контекстных вариаций, размеров, состояний.</p>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary mb-3 mr-3">Primary</button>
            <button type="button" class="btn btn-secondary mb-3 mr-3">Secondary</button>
            <button type="button" class="btn btn-success mb-3 mr-3">Success</button>
            <button type="button" class="btn btn-info mb-3 mr-3">Info</button>
            <button type="button" class="btn btn-warning mb-3 mr-3">Warning</button>
            <button type="button" class="btn btn-danger mb-3 mr-3">Danger</button>
            <button type="button" class="btn btn-link mb-3 mr-3">Link</button>              
        </div>  
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-primary mb-3 mr-3">Primary</button>
            <button type="button" class="btn btn-outline-secondary mb-3 mr-3">Secondary</button>
            <button type="button" class="btn btn-outline-success mb-3 mr-3">Success</button>
            <button type="button" class="btn btn-outline-info mb-3 mr-3">Info</button>
            <button type="button" class="btn btn-outline-warning mb-3 mr-3">Warning</button>
            <button type="button" class="btn btn-outline-danger mb-3 mr-3">Danger</button>        
        </div>
    </div>
    <h5>Размеры и состояние</h5>  
    <p>Необычные большие или маленькие кнопки? Любой размер по желанию. Активное состояние появляется например, когда кнопка была нажата (более темный фон, более темные границы, и вставка тени).</p>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-lg mb-3 mr-3">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg mb-3 mr-3">Large button</button>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm mb-3 mr-3">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm mb-3 mr-3">Small button</button>          
        </div>
        <div class="col-12">
            <a href="#" class="btn btn-primary btn-lg active mb-3 mr-3" role="button" ng-click="bootstrap.preventDefault($event)" aria-pressed="true">Primary link</a>
            <a href="#" class="btn btn-secondary btn-lg active mb-3 mr-3" role="button" ng-click="bootstrap.preventDefault($event)" aria-pressed="true">Link</a>         
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-md btn-primary mb-3 mr-3" disabled>Primary button</button>
            <button type="button" class="btn btn-md btn-secondary mb-3 mr-3" disabled>Button</button>         
        </div>
        <div class="col-12">
        </div>                
    </div>   
    <h5>Группа кнопок</h5>
    <p>Ряд кнопок вместе на одной строке с помощью группировки. Еще кнопки внутри группы могут иметь состояние активности и быть переключаемыми.</p>
    <div class="row">
        <div class="col-12">
            <div class="btn-group mb-3" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"> Checkbox 2
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"> Checkbox 3
              </label>
            </div>            
        </div>
        <div class="col-12">
            <div class="btn-group mb-3" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
              </label>
            </div>             
        </div>
        <div class="col-12">
            <div class="btn-group mb-3" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>             
        </div>
        <div class="col-12">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
                <button type="button" class="btn btn-secondary">5</button>
                <button type="button" class="btn btn-secondary">6</button>
              </div>
            </div>            
        </div>
        <div class="col-12">
            <div class="btn-group mb-3" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-secondary">1</button>
              <button type="button" class="btn btn-secondary">2</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Dropdown link</a>
                  <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Dropdown link</a>
                </div>
              </div>
            </div>             
        </div>
    </div>       
</section>
<section id="badges">
    <h5>Значки</h5>
    <p>Маленькие и адаптивные значки (метки, теги) для добавления контекста к любому содержанию.</p>
    <div class="row">
        <div class="col-12">
            <h1>Example heading <span class="badge badge-default cursor-pointer">New</span></h1>
            <h2>Example heading <span class="badge badge-default cursor-pointer">New</span></h2>
            <h3>Example heading <span class="badge badge-default cursor-pointer">New</span></h3>
            <h4>Example heading <span class="badge badge-default cursor-pointer">New</span></h4>
            <h5>Example heading <span class="badge badge-default cursor-pointer">New</span></h5>
            <h6>Example heading <span class="badge badge-default cursor-pointer">New</span></h6>            
        </div>
    </div>
    <h5>Контекстные вариации</h5>
    <p>Добавьте любой из перечисленных ниже значков, к любому содержанию.</p>
    <div class="row mb-2">    
        <div class="col-12">
            <span class="badge cursor-pointer badge-default mb-2 mr-2">Default</span>
            <span class="badge cursor-pointer badge-primary mb-2 mr-2">Primary</span>
            <span class="badge cursor-pointer badge-success mb-2 mr-2">Success</span>
            <span class="badge cursor-pointer badge-info mb-2 mr-2">Info</span>
            <span class="badge cursor-pointer badge-warning mb-2 mr-2">Warning</span>
            <span class="badge cursor-pointer badge-danger mb-2 mr-2">Danger</span>            
        </div>
        <div class="col-12">
            <span class="badge badge-pill cursor-pointer badge-default mb-2 mr-2">Default</span>
            <span class="badge badge-pill cursor-pointer badge-primary mb-2 mr-2">Primary</span>
            <span class="badge badge-pill cursor-pointer badge-success mb-2 mr-2">Success</span>
            <span class="badge badge-pill cursor-pointer badge-info mb-2 mr-2">Info</span>
            <span class="badge badge-pill cursor-pointer badge-warning mb-2 mr-2">Warning</span>
            <span class="badge badge-pill cursor-pointer badge-danger mb-2 mr-2">Danger</span>            
        </div>
    </div>
</section>
<section id="dropdown">
    <h5 class="mt-3">Выпадающие списки</h5>
    <p>Выпадающие списки являются переключаемой, контекстной кнопкой для отображения списков ссылок. Списки переключаемы только по клику, не по наведению, это намеренное проектное решение.</p>
    <div class="row">
        <div class="col-12">
            <div class="btn-group mb-3 mr-3">
              <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Large button
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
              </div>
            </div>
            <div class="btn-group mb-3 mr-3">
              <button type="button" class="btn btn-lg btn-secondary">Large split button</button>
              <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
              </div>
            </div>
        </div>
        <div class="col-12 mb-3">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-3">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Small button
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-secondary">Small split button</button>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
              </div>
            </div>
          </div>            
        </div>
        <div class="col-12">
          <div class="btn-group mr-3 mb-3">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
            </div>
          </div>
          <div class="btn-group mr-3 mb-3">
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
            </div>
          </div>
          <div class="btn-group mr-3 mb-3">
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
            </div>
          </div>
          <div class="btn-group mr-3 mb-3">
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
            </div>
          </div>
          <div class="btn-group mr-3 mb-3">
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
            </div>
          </div>
          <div class="btn-group mr-3 mb-3">
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Separated link</a>
            </div>
          </div>
        </div>
    </div>
</section>