<section data-section="cards" id="cards">
    <h5>Карты</h5>
    <p>Карточка представляет собой гибкий и расширяемый контейнер. Она включает в себя опции для верхних и нижних колонтитулов, широкий спектр контента и контекстные цвета фона.</p>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img-top img-fluid" src="img/svg/318x180.svg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <div class="card-block">
                <a href="#" class="card-link" ng-click="bootstrap.preventDefault($event)">Card link</a>
                <a href="#" class="card-link" ng-click="bootstrap.preventDefault($event)">Another link</a>
              </div>
            </div>
        </div>
        <div class="mt-3 hidden-sm-up" style="line-height: 0px;"> </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="img/svg/318x180.svg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" ng-click="bootstrap.preventDefault($event)">Link</a>
          </div>
        </div>
        </div>
    </div>
    <h5 class="mt-3">Верхний и нижний колонтитулы</h5>
    <p>Можно добавить верхний и/или нижний колонтитул в карты.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 mb-3">  
            <div class="card text-center">
              <div class="card-header">
                Featured
              </div>
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" ng-click="bootstrap.preventDefault($event)">Go somewhere</a>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
        </div> 
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
            <div class="card">
              <h5 class="card-header">Featured</h5>
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary" ng-click="bootstrap.preventDefault($event)">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">    
            <div class="card">
              <div class="card-header">
                Quote
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>
            </div>
        </div>
    </div>
    <h5>Изображения</h5>
    <p>Карты включают в себя несколько вариантов для работы с изображениями. Можно добавить изображение сверху или снизу, сделать фоном или просто встроить изображение в карту.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
            <div class="card">
              <img class="card-img-top" src="img/svg/769x180.svg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <img class="card-img-bottom" src="img/svg/769x180.svg" alt="Card image cap">
            </div> 
        </div> 
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
            <div class="card card-inverse">
              <img class="card-img" src="img/svg/769x180.svg" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>
    </div>
    <h5>Макет из карт</h5>
    <p>В дополнение к стилизации содержимого внутри карт, <code>Bootstrap</code> включает несколько вариантов верстки группы карт. В настоящее время <span>(18.06.2017)</span>, <strong>эти параметры макета еще не адаптивные</strong>.</p>
    <div class="card-columns col-12 px-0 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid img-fluid" src="img/svg/318x180.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title that wraps to a new line</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card p-3">
        <blockquote class="card-block card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid img-fluid" src="img/svg/318x180.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card card-inverse card-primary p-3 text-center">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer>
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img img-fluid img-fluid" src="img/svg/318x180.svg" alt="Card image">
      </div>
      <div class="card p-3 text-right">
        <blockquote class="card-blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</section>