<section id="listgroup">
    <h5>Списки</h5>
    <p>Список группы это гибкий и мощный компонент для отображения серии контента. Элементы списка группы могут быть изменены и расширены для поддержки почти любого содержания внутри.</p>
    <p>Они также могут быть использованы в качестве навигации.</p>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action active">
                <strong>Cras justo odio</strong>
              </button>
              <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
              <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
              <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
              <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
            </div>        
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action" ng-click="bootstrap.preventDefault($event)"><strong>Cras justo odio</strong></li>
              <li class="list-group-item list-group-item-action" ng-click="bootstrap.preventDefault($event)"><a href="#">Dapibus ac facilisis in</a></li>
              <li class="list-group-item list-group-item-action" ng-click="bootstrap.preventDefault($event)"><a href="#">Morbi leo risus</a></li>
              <li class="list-group-item list-group-item-action" ng-click="bootstrap.preventDefault($event)"><a href="#">Porta ac consectetur ac</a></li>
              <li class="list-group-item list-group-item-action" ng-click="bootstrap.preventDefault($event)"><a href="#">Vestibulum at eros</a></li>
            </ul>       
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action justify-content-between">
                <strong>Cras justo odio</strong>
              </li>
              <li class="list-group-item list-group-item-action justify-content-between">
                Cras justo odio
                <span class="badge badge-default badge-pill">14</span>
              </li>              
              <li class="list-group-item list-group-item-action justify-content-between">
                Dapibus ac facilisis in
                <span class="badge badge-default badge-pill">2</span>
              </li>
              <li class="list-group-item list-group-item-action justify-content-between">
                Morbi leo risus
                <span class="badge badge-default badge-pill">1</span>
              </li>
            </ul>         
        </div>        
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active" ng-click="bootstrap.preventDefault($event)">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" ng-click="bootstrap.preventDefault($event)">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" ng-click="bootstrap.preventDefault($event)">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Donec id elit non mi porta.</small>
              </a>
            </div>           
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action" ng-click="bootstrap.preventDefault($event)"><strong>Dapibus ac facilisis in</strong></a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-success" ng-click="bootstrap.preventDefault($event)">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-info" ng-click="bootstrap.preventDefault($event)">Cras sit amet nibh libero</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning" ng-click="bootstrap.preventDefault($event)">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-danger" ng-click="bootstrap.preventDefault($event)">Vestibulum at eros</a>
            </div>            
        </div>
    </div>
</section>