<section id="media">
    <h5>Медиа объект</h5>
    <p>Этот компонент помогает создавать сложные и повторяющиеся компоненты, где некоторые медиа объекты позиционируется рядом с текстом. Так же, для этого необходимо только два класса (меньше кода), благодаря <code>flexbox</code>.</p>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="media">
                <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </div>            
        </div>
    </div>   
    <h5>Вложенность</h5>
    <p>Медиа объекты могут быть бесконечно вложены (например в комментариях), хотя я предлагаю остановиться на какой-то момент.</p>
     <div class="row">
        <div class="col-12 mb-3">
            <div class="media">
                <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                    lacinia congue felis in faucibus.
                    <div class="media mt-3">
                        <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">Media heading</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                            Donec lacinia congue felis in faucibus.
                            <div class="media mt-3">
                                <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                    Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>    
    <h5>Список медиа</h5>
    <p>Поскольку медиа объект имеет так мало структурных требований, вы можете также использовать эти компоненты в списке элементов.</p>
     <div class="row">
        <div class="col-12 mb-3">
            <ul class="list-unstyled mb-0">
                <li class="media">
                    <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                        lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media my-4">
                    <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                        lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                    <img class="d-flex mr-3 cursor-pointer" src="img/svg/64x64.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                        lacinia congue felis in faucibus.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>