<section data-section="modals" id="modals">
    <h5>Модальные окна</h5>
    <p>Модальные окна имеют гибкую форму и все это работает на <code>JavaScript</code>. Они поддерживают целый ряд случаев использования, начиная от простых уведомлений пользователя, заканчивая любым другим пользовательским контентом и имеют несколько полезных подкомпонентов, размеров, событий и методов.</p>
    <div class="row">
        <div class="col-12">
            <!-- Large modal -->
            <button type="button" class="btn btn-primary mr-3 mb-3" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mr-3 mb-3" data-toggle="modal" data-target="#exampleModalLong">Launch demo modal</button>
            <!-- Small modal -->
            <button type="button" class="btn btn-primary mr-3 mb-3" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>   
        </div>
        <div class="col-12 mb-3">
            <!-- Image modal -->
            <div class="col-md-4 px-0">
                <img class="img-thumbnail img-fluid cursor-pointer" src="https://yt3.ggpht.com/-Tz4JclMm1TU/AAAAAAAAAAI/AAAAAAAAAAA/ijr7MoC_-QE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" data-toggle="modal" data-target="#imageModal" alt="">
            </div>
        </div>    
    </div>
    <!-- Modal large-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi in voluptatum nihil similique fuga consectetur accusamus magni, ea ipsa quaerat quos veniam doloribus error at blanditiis dolorem, deserunt repellendus?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal standart-->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi in voluptatum nihil similique fuga consectetur accusamus magni, ea ipsa quaerat quos veniam doloribus error at blanditiis dolorem, deserunt repellendus?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> 
    <!-- Modal small-->
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi in voluptatum nihil similique fuga consectetur accusamus magni, ea ipsa quaerat quos veniam doloribus error at blanditiis dolorem, deserunt repellendus?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal image-->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img class="img-fluid" src="https://yt3.ggpht.com/-Tz4JclMm1TU/AAAAAAAAAAI/AAAAAAAAAAA/ijr7MoC_-QE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="">
          </div>
        </div>
      </div>
    </div> 
</section>