<section id="navigation">
    <h5>Навигация</h5>
    <p>Навигационная панель представляет собой оболочку, которая позиционирует брендинг, ссылки и другие элементы в сжатом заголовке вверху сайта. Панель легко расширяема и благодаря <code>collapse</code> плагину, можно легко интегрировать адаптивные модели поведения.</p>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse mb-3">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#" ng-click="bootstrap.preventDefault($event)">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" ng-click="bootstrap.preventDefault($event)">Disabled</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>            
        </div>
        <div class="col-12">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-3">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#" ng-click="bootstrap.preventDefault($event)">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" ng-click="bootstrap.preventDefault($event)">Disabled</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>            
        </div>
        <div class="col-12">
            <nav class="navbar navbar-toggleable-md navbar-light mb-3" style="background-color: #e3f2fd;">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#" ng-click="bootstrap.preventDefault($event)">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent3">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" ng-click="bootstrap.preventDefault($event)">Disabled</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>              
        </div>
        <div class="col-12">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-3">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#" ng-click="bootstrap.preventDefault($event)">
                <img src="../../img/svg/bootstrap-plain.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Bootstrap
              </a>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="bootstrap.preventDefault($event)">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Action</a>
                      <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Another action</a>
                      <a class="dropdown-item" href="#" ng-click="bootstrap.preventDefault($event)">Something else here</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>             
        </div>
        <div class="col-12">
            <div class="pos-f-t mb-3">
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-inverse p-4">
                  <h4 class="text-white">Collapsed content</h4>
                  <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
              </div>
              <nav class="navbar navbar-inverse bg-inverse">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
            </div>             
        </div>
    </div>
</section>