<section id="sliders">
    <h5>Слайдеры</h5>
    <p>Карусель - слайд-шоу для отображения серии контента. Работает с серией изображений, текста или пользовательской разметки. Она также включает в себя кнопки управления и индикаторы.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" src="img/svg/first-slide.svg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="img/svg/second-slide.svg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="img/svg/third-slide.svg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" data-target="#carouselExampleControls" role="button" ng-click="bootstrap.preventDefault($event)" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" data-target="#carouselExampleControls" role="button" ng-click="bootstrap.preventDefault($event)" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>            
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class=""></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="img/svg/first-slide.svg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="img/svg/second-slide.svg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="img/svg/third-slide.svg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" data-target="#carouselExampleCaptions" role="button" ng-click="bootstrap.preventDefault($event)" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-target="#carouselExampleCaptions" role="button" ng-click="bootstrap.preventDefault($event)" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>              
        </div>
    </div>
    <p>Добавить подписи к слайдам - легко. На этом месте раскрывается полный потенциал пользовательской верстки внутри карусели, можно добавить не только текст, но и кнопки, метки, изображения и т.д.</p>
     <div class="ws-alert-warning" role="alert">
        <strong>Примечание:</strong> Стандартная разметка внутри карусели будет скрыта при активном разрешении ≤ 768px. Но это можно исправить :)
      </div>        
</section>