<section data-section="tooltips" id="tooltips">
    <h5>Подсказки</h5>
    <p>Дополнительные небольшие и содержательные подсказки, как и те что в <code>IOS</code>, можно добавить к любому элементу для дополнительной информации.</p>
    <div class="row mb-3 mx-0">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 p-3">
          <div class="popover popover-bottom" style="position: relative;">
            <h5 class="popover-title">Popover bottom</h5>
            <div class="popover-content">
              <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
          </div>            
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 p-3">
          <div class="popover popover-left mt-2" style="position: relative;">
            <h5 class="popover-title">Popover left</h5>
            <div class="popover-content">
              <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
          </div>            
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 p-3">
          <div class="popover popover-top mt-2" style="position: relative;">
            <h5 class="popover-title">Popover top</h5>
            <div class="popover-content">
              <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 p-3">
          <div class="popover popover-right mt-2" style="position: relative;">
            <h5 class="popover-title">Popover right</h5>
            <div class="popover-content">
              <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
          </div>            
        </div>
    </div> 
    <hr>
    <h5>По клику</h5>
    <p>Подсказка появиться после клика по нужно элементу.</p>    
    <button type="button" class="btn btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
    <div class="row mt-3">
        <div class="col-12">
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on top</button>
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on right</button>
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus.">Popover on bottom</button>
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on left</button>     
        </div>
    </div>
    <h5>При наведении</h5>
    <p>Дополнительные автоматически всплывающие при наведении на элемент подсказки.</p>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
            <button type="button" class="btn btn-secondary mr-3 mb-3" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>     
        </div>
    </div>
</section>