<style>
    @import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster|Marck+Script|Kelly+Slab|Cormorant+Infant|Jura');
</style>

<section data-section="typography" id="typography">
    <h5>Типография</h5>
    <p><code>Bootstrap</code> включает в себя простую и легко настраиваемую типографику для заголовков, основного текста, ссылок, списков и много чего еще.</p>
    <p>Для большего понимания посмотрите служебные стили и подключаемые шрифты.</p>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <h1>h1. Bootstrap заголовок</h1></td>
                        <td class="type-info">Полужирный 2.5rem (40px)</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>h2. Bootstrap заголовок</h2></td>
                        <td class="type-info">Полужирный 2rem (32px)</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>h3. Bootstrap заголовок</h3></td>
                        <td class="type-info">Полужирный 1.75rem (28px)</td>
                    </tr>
                    <tr>
                        <td>
                            <h4>h4. Bootstrap заголовок</h4></td>
                        <td class="type-info">Полужирный 1.5rem (24px)</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>h5. Bootstrap заголовок</h5></td>
                        <td class="type-info">Полужирный 1.25rem (20px)</td>
                    </tr>
                    <tr>
                        <td>
                            <h6>h6. Bootstrap заголовок</h6></td>
                        <td class="type-info">Полужирный 1rem (16px)</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <h5>Подключаемые шрифты</h5>
    <p>Автоматически подключаемые шрифты из библиотеки <a target="_blank" href="https://fonts.google.com/">Google Fonts</a>.</p>   
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h5 class="card-header text-center text-muted">Bad Script</h5>
          <div class="card-block text-center">
            <h5 style="font-family: 'Bad Script', cursive;"><strong>Это был лишь вопрос времени</strong>.</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h5 class="card-header text-center text-muted">Lobster</h5>
          <div class="card-block text-center">
            <h5 style="font-family: 'Lobster', cursive;">Это был лишь вопрос времени.</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h5 class="card-header text-center text-muted">Marck Script</h5>
          <div class="card-block text-center">
            <h5 style="font-family: 'Marck Script', cursive;">Это был лишь вопрос времени.</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h5 class="card-header text-center text-muted">Kelly Slab</h5>
          <div class="card-block text-center">
            <h5 style="font-family: 'Kelly Slab', cursive;">Это был лишь вопрос времени.</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h5 class="card-header text-center text-muted">Cormorant Infant</h5>
          <div class="card-block text-center">
            <h5 style="font-family: 'Cormorant Infant', cursive;"><strong>Это был лишь вопрос времени</strong>.</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h5 class="card-header text-center text-muted">Jura</h5>
          <div class="card-block text-center">
            <h5 style="font-family: 'Jura', cursive;"><strong>Это был лишь вопрос времени</strong>.</h5>
          </div>
        </div>
      </div>                                  
    </div>
    <h5>Иконочные шрифты</h5>
    <p class="mb-0">Можно добавить на любой сайт иконочные шрифты, например <a target="_blank" href="http://fontawesome.io/icons/">Font Awesome</a> включающий в себя более 500+ иконок. Они идеально дополнят дизайн вашего сайта и не будут замедлять его загрузку, как изображения.</p>
    <div class="row">
        <div class="col-12">
            <div class="m-3 d-inline-block">
                <i class="fa fa-comments-o fa-3x m-3"></i>
            </div>   
            <div class="m-3 d-inline-block">
                <i class="fa fa-camera-retro fa-3x m-3"></i>
            </div>       
            <div class="m-3 d-inline-block">
                <i class="fa fa-heart-o fa-3x m-3"></i>
            </div> 
            <div class="m-3 d-inline-block">
                <i class="fa fa-picture-o fa-3x m-3"></i>
            </div> 
            <div class="m-3 d-inline-block">
                <i class="fa fa-folder-open-o fa-3x m-3"></i>
            </div> 
            <div class="m-3 d-inline-block">
                <i class="fa fa-microphone fa-3x m-3"></i>
            </div> 
            <div class="m-3 d-inline-block">
                <i class="fa fa-star-o fa-3x m-3"></i>
            </div>          
            <div class="m-3 d-inline-block">
                <i class="fa fa-cogs fa-3x m-3"></i>
            </div> 
            <div class="m-3 d-inline-block">
                <i class="fa fa-envelope-open-o fa-3x m-3"></i>
            </div>             
        </div>                                                                                      
    </div>     
    <h5>Размеры и цвет</h5>
    <p class="mb-0">При изменении размера иконки, качество изображения не меняется, так как это векторные изображения. Иконка может быть окрашена в любой монотонный цвет <code>RGBA</code> палитры цветов.</p>
    <div class="row">
        <div class="col-12">
            <div class="mx-3 d-inline-block">
                <i class="fa fa-android fa-lg text-success m-3"></i>
                <strong>1x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-android fa-2x text-success m-3"></i>
                <strong>2x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-android fa-3x text-success m-3"></i>
                <strong>3x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-android fa-4x text-success m-3"></i>
                <strong>4x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-android fa-5x text-success m-3"></i>
                <strong>5x</strong>
            </div>                        
        </div>        
        <div class="col-12">
            <div class="mx-3 d-inline-block">
                <i class="fa fa-apple fa-lg text-muted m-3"></i>
                <strong>1x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-apple fa-2x text-muted m-3"></i>
                <strong>2x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-apple fa-3x text-muted m-3"></i>
                <strong>3x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-apple fa-4x text-muted m-3"></i>
                <strong>4x</strong>
            </div>
            <div class="mx-3 d-inline-block">
                <i class="fa fa-apple fa-5x text-muted m-3"></i>
                <strong>5x</strong>
            </div>                        
        </div>        
    </div>
    <h5>Анимация</h5>
    <p>Просто взяли обычные круглые иконки и заставили их вращаться. Классная анимация для загрузки, не правда ли?</p>
    <div class="row">
        <div class="col-12 mb-2">
            <div class="m-3 d-inline-block">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="m-3 d-inline-block">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="m-3 d-inline-block">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="m-3 d-inline-block">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="m-3 d-inline-block">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>                        
        </div>        
    </div>
    <h5>Форматирование текста</h5>
    <p>Стайлинг для обычных текстовых элементов <code>HTML5</code></p>
    <div class="row">
        <div class="col-12">
            <p>You can use the mark tag to <mark class="mb-0">highlight</mark> text.</p>
            <p><del>This line of text is meant to be treated as deleted text.</del></p>
            <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
            <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
            <p><u>This line of text will render as underlined</u></p>
            <p><small>This line of text is meant to be treated as fine print.</small></p>
            <p><strong>This line rendered as bold text.</strong></p>
            <p><em>This line rendered as italicized text.</em></p>            
        </div>
    </div>
    <h5>Цитаты и буквицы</h5>
    <p>Цитаты подойдут для цитирования блоков текста, например из другого источника или прямой речи. Буквицы широко используются для удобства чтения и оглавления текста.</p>
    <div class="row">
        <div class="col-12">
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>            
        </div>
        <div class="col-12">
            <div class="card mb-3">
              <div class="card-block first-letter">
                W consequatur similique quod a iure, fugiat et quos? Odit tenetur ipsam dolor esse, animi error fugiat cum quo ea assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe cum quisquam rem enim assumenda qui fugit accusantium delectus cupiditate, pariatur. Tempora laudantium officia similique quis vel provident excepturi sit aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse maiores non aspernatur earum optio ut, debitis, blanditiis consequatur natus neque nihil. Unde officiis, libero sapiente? Iusto possimus voluptate et iure.
              </div>
            </div>            
        </div>
    </div>    
</section>