<section id="views">
    <h5>Витрины</h5>
    <p>Легкий, гибкий компонент, который поможет дополнительно отобразить информацию, чтобы продемонстрировать ключевые маркетинговые сообщения на вашем сайте.</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="jumbotron">
              <h1 class="display-3">Hello, world!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" ng-click="bootstrap.preventDefault($event)" role="button">Learn more</a>
              </p>
            </div>            
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-3">Fluid jumbo</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
              </div>
            </div>            
        </div>
    </div>
</section>