<section>
	<div class="row">
		<div class="col-12">
			<h5>Примеры</h5>
			<p>На этой странице я опишу свои последние работы, постараюсь тщательно и подробно описать все моменты разработки.</p>
			<div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample">
				<p class="mb-0">Статичная страница - копия страницы сайта (заказ с биржи фриланса <a target="_blank" href="https://www.upwork.com/">upwork.com</a>)</p>
			</div>
			<div class="collapse show mb-3" id="collapseOne">
				<div class="card card-block">
					<p><strong>Задание:</strong> сделать статичную копию главной страницы сайта <a target="_blank" href="http://www.programajaponesonline.com/">programajaponesonline.com</a> в одном <code>*.html</code> файле, без локальных зависимостей, не <code>pixel-perfect</code></p>
					<p><strong>Сроки:</strong> 2 дня (если быть точным - пару вечеров);</p>
					<p><strong>Что сделано?</strong></p>
					<ul>
						<li>Вся верстка сделана на <code>Bootstrap 3</code></li>
						<li>Общая идентичность страницы оригиналу;</li>
						<li>Подключен дополнительный оригинальный шрифт;</li>
						<li>Стили элементов страницы скопированы с оригинала;</li>
						<li>Адаптивность верстки как в оригинале;</li>
						<li>Функции плавной прокрутки по кнопкам;</li>
						<li>Разный контент в одном модальном окне, вычищается при закрытии, добавляется при открытии;</li>
					</ul>
					<p>Заказчик остался полностью доволен результатом работы и оставил мне положительный отзыв (5 звезд) на сайте биржи. Готовый файл открывается на любом компьютере, необходимые библиотеки (<code>JQuery</code> и <code>Bootstrap</code>) подключаются через <a target="_blank" href="https://ru.wikipedia.org/wiki/Content_Delivery_Network">CDN</a>, изображения загружаются с оригинального сайта.</p>
					<p class="mb-0">Ссылка на зеркало: <a target="_blank" href="http://upwork.webspace.kz/">upwork.webspace.kz</a></p>
				</div>
			</div>
			<div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample">
				<p class="mb-0">Целевая страница для рекламной компании - МОЦ Aptech (оригинал - <a target="_blank" href="http://www.study.aptech.kineu.kz/">study.aptech.kineu.kz</a>)</p>
			</div>
			<div class="collapse mb-3" id="collapseTwo">
				<div class="card card-block">
					<p><strong>Задание:</strong> сделать целевую страницу для работы контекстной рекламы (через посредников в лице <a target="_blank" href="http://web-craft.pro/">web-craft.pro</a>), скопировать оригинал страницы - <a target="_blank" href="http://study.aptech-russia.com/">study.aptech-russia.com</a></p>
					<p><strong>Сроки:</strong> 3 рабочих дня (с правками);</p>
					<p><strong>Что сделано?</strong></p>
					<ul>
						<li>Вся верстка сделана на <code>Bootstrap 3</code></li>
						<li>Общая идентичность страницы оригиналу (с изменениями);</li>
						<li>Подключен шрифт <code>Roboto Condensed</code> через <a target="_blank" href="https://fonts.google.com/">Google Fonts</a>;</li>
						<li>100% адаптивность (оригинальный сайт не адаптивный);</li>
						<li>Функции плавной прокрутки по кнопкам, кнопка "Наверх";</li>
						<li>Форма обратной связи (через <code>PHPMailer</code>);</li>
						<li>Добавлен фреймворк <a target="_blank" href="https://jquerymobile.com/">JQuery Mobile</a> (для <code>Swipe</code> функций);</li>
						<li>Добавлена <a target="_blank" href="https://metrika.yandex.kz/">Яндекс.Метрика</a> с целями;</li>
						<li>Добавлен скрипт c сайта <a target="_blank" href="https://redconnect.ru/">Redconnect.ru</a> для дополнительной обратной связи;</li>
						<li>Разный контент (изображения, видео, страницы) в одном модальном окне, вычищается при закрытии, добавляется при открытии;</li>
					</ul>
					<p>Готовый лендинг получился даже лучше оригинала, так как получил адаптивность ко всем устройствам и <code>Swipe</code> функции для <code>Touch</code> устройств. Благодаря <a target="_blank" href="https://metrika.yandex.kz/">Яндекс.Метрике</a> и прописанным целям есть возможность отслеживания действий пользователей на сайте. В свое время лендинг помог набрать несколько групп человек для курсов, сейчас <span class="text-muted">(14.06.2017)</span> бездействует.</p>
					<p class="mb-0">Ссылка на зеркало: <a target="_blank" href="http://landing-first.webspace.kz/">landing-first.webspace.kz</a></p>
				</div>
			</div>
			<div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseExample">
				<p class="mb-0">Целевая страница для рекламной компании - университет КИнЭУ (оригинал - <a target="_blank" href="http://www.study.kineu.kz/">study.kineu.kz</a>)</p>
			</div>
			<div class="collapse mb-3" id="collapseThree">
				<div class="card card-block">
					<p><strong>Задание:</strong> сделать целевую страницу для работы контекстной рекламы (через посредников в лице <a target="_blank" href="http://web-craft.pro/">web-craft.pro</a>), без конкретного технического задания - придумай сам.</p>
					<p><strong>Сроки:</strong> 3 рабочих дня (с правками);</p>
					<p><strong>Что сделано?</strong></p>
					<ul>
						<li>Вся верстка сделана на <code>Bootstrap 3</code></li>
						<li>Задействована сторонняя <code>Bootstrap</code> тема (<a target="_blank" href="https://bootswatch.com/">bootswatch.com</a>);</li>
						<li>Подключен иконочный шрифт <code>Font Awesome</code> (<a target="_blank" href="http://fontawesome.io/">fontawesome.io</a>);</li>
						<li>Подключен <code>Animate.css</code> для анимаций (<a target="_blank" href="https://daneden.github.io/animate.css/">daneden.github.io/animate.css</a>);</li>
						<li>Модальные окна с загрузкой <code>*.html</code> шаблонов;</li>
						<li>Функции плавной прокрутки по кнопкам, кнопка "Наверх";</li>
						<li>Форма обратной связи (через <code>PHPMailer</code>);</li>
						<li>Добавлена <a target="_blank" href="https://metrika.yandex.kz/">Яндекс.Метрика</a> с целями;</li>
						<li>Добавлен скрипт c сайта <a target="_blank" href="https://redconnect.ru/">Redconnect.ru</a> для дополнительной обратной связи;</li>
						<li>Добавлен виджет ВК - "Сообщения сообщества" (<a target="_blank" href="https://vk.com/dev/CommunityMessages">vk.com/dev/CommunityMessages</a>);</li>
					</ul>
					<p>Готовый лендинг получился простым и легким, адаптивным ко всем устройствам. Широко представлена обратная связь благодаря виджету ВК, заказу звонка и стандартной формы отправки сообщения. Благодаря <a target="_blank" href="https://metrika.yandex.kz/">Яндекс.Метрике</a> и прописанным целям есть возможность отслеживания действий пользователей на сайте. Каждое лето на странице обновляется информация для абитуриентов, все остальное время бездействует.</p>
					<p class="mb-0">Ссылка на зеркало: <a target="_blank" href="http://landing-second.webspace.kz/">landing-second.webspace.kz</a></p>
				</div>
			</div>
			<div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseExample">
				<p class="mb-0">Тема для <a target="_blank" href="https://ru.wordpress.org/">WordPress</a> - редизайн сайта университета КИнЭУ (оригинал - <a target="_blank" href="http://www.kineu.kz/">kineu.kz</a>)</p>
			</div>
			<div class="collapse mb-3" id="collapseFour">
				<div class="card card-block">
					<p><strong>Задание:</strong> сделать новый сайт-дизайн для университета, за основу взять сайт МГУ (<a target="_blank" href="https://www.msu.ru/">msu.ru</a>)</p>
					<p><strong>Сроки:</strong> одна неделя (шаблон не завершен);</p>
					<p><strong>Что сделано?</strong></p>
					<ul>
						<li>Иерархия шаблона и работа с <code>WP</code> - <a target="_blank" href="https://codex.wordpress.org/">WordPress Codex</a>;</li>
						<li>Главная страница состоит из 4-ех независимых частей (col-1,2,3,4);</li>
						<li>Подключаемые части шаблона <code>template_part</code> (пять файлов);</li>
						<li>Верстка на фреймворке <code>Bootstrap 4</code> - 100% адаптивность;</li>
						<li>Подключен иконочный шрифт <code>Font Awesome</code> (<a target="_blank" href="http://fontawesome.io/">fontawesome.io</a>);</li>
						<li>Формы обратной связи (стандартные функции <code>WP</code> через <code>SMTP</code> плагин);</li>
						<li>Готовые страницы сайта:
							<ul>
								<li>404.php;</li>
								<li>category.php;</li>
								<li>index.php;</li>
								<li>page.php;</li>
								<li>page-contacts.php;</li>
								<li>page-graduates.php;</li>
								<li>page-sitemap.php;</li>
								<li>search.php;</li>
								<li>single.php;</li>
							</ul>
						</li>
						<li>Составляющие шаблона:
							<ul>
								<li>footer.php;</li>
								<li>header.php;</li>
								<li>functions.php;</li>
								<li>searchform.php;</li>
							</ul>
						</li>	
						<li>Включено <code>GZIP</code> сжатие для страниц сайта (повышает скорость загрузки);</li>					
						<li>Добавлены <code>WP</code> фильтры для ссылок, теперь сайт работает с относительными ссылками (вместо абсолютных);</li>
						<li>Добавлена возможность перевода сайта (переведены кнопки, мета данные и т.д.);</li>
						<li>Добавлена "пагинация" (нумерация) контента, без плагинов;</li>
						<li>Стандартный поиск <code>WP</code> с подсветкой результатов;</li>
						<li>Добавлен простой <code>JS</code> скрипт для повышенной адаптивности (если находит на странице <code>iframe</code> оборачивает его в специальный <code>div</code>);</li>
						<li>Добавлены хорошие <code>CSS</code> селекторы для изображений внутри поста (типа растягивания на всю ширину, или нет, если изображение внутри текста), и не только для изображений, так же по запросам <code>CSS Media Queries</code> специальные изменения классов;</li>
						<li>Добавлены кнопки социальных сетей "Поделиться с друзьями" (<code>JS</code> плагин <a target="_blank" href="http://js-socials.com/">jsSocials</a>);</li>
						<li>Добавлен виджет ВК - "Сообщества" (<a target="_blank" href="https://vk.com/dev/Community">vk.com/dev/Community</a>);</li>
						<li>Добавлен виджет просмотра профиля <a target="_blank" href="https://www.instagram.com/">Instagram</a> (<a target="_blank" href="http://instagramm.ru/instagram-widget-na-sait/">instagramm.ru</a>);</li>
						<li>И прочие мелочи типичные для <code>CMS</code> и подобных сайтов;</li>
					</ul>
					<p>Разрабатываемый шаблон получился довольно удобным, гибким и быстрым. Количество <code>WP</code> плагинов и прочих зависимостей было сведено к минимуму, подключались только нужные <code>JS</code> плагины и только на нужных страницах. Завершить работу над шаблоном не удалось по банальной причине ухода с места работы. Представляю его в примерах как навык взаимодействия с <code>back-end</code> частью системы управления контентом.</p>
					<p class="mb-0">Ссылка на зеркало: <a target="_blank" href="http://wp-template.webspace.kz/">wp-template.webspace.kz</a></p>
				</div>
			</div>


			<div class="collapse-examples p-2 mb-3" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseExample">
				<p class="mb-0">Мой личный сайт-конструктор построенный на <a target="_blank" href="https://angularjs.org/">AngularJS</a> - <a href="http://webspace.kz/">Webspace.kz</a></p>
			</div>
			<div class="collapse mb-3" id="collapseFive">
				<div class="card card-block">
					<p><strong>Задание:</strong> сделать свой сайт уникальным и отличным от других, что бы показать что я могу в веб :) </p>
					<p><strong>Сроки:</strong> в разработке с февраля 2017 года;</p>
					<p><strong>Что сделано?</strong></p>
					<ul>
						<li>Вся верстка сделана на <code>Bootstrap 4</code></li>
						<li>Одностраничный сайт, основанный на фреймворке <code>AngularJS</code></li>
						<li>Подключен иконочный шрифт <code>Font Awesome</code> (<a target="_blank" href="http://fontawesome.io/">fontawesome.io</a>);</li>
						<li>Модальные окна с загрузкой <code>*.html</code> шаблонов, с собственными роутами;</li>
						<li>Реализовано более 20 интересных <code>JS</code> плагинов;</li>
						<li>Подключена облачная <code>NoSQL</code> база данных - <code>Firebase</code></li>
					</ul>
					<p>В итоге сайт получился самостоятельным <code>Single Page</code> приложением на одной странице. Если добавить к нему административную часть с авторизацией и сохранением данных сайта в БД - получится практически готовая <code>CMS</code>, остальные составляющие: роуты, модули, компоненты, директивы, сервисы, <code>lazy load</code> загрузки и прочие элементы управления сайтом уже реализованы.</p>
					<p class="mb-0 text-primary">Подробно расписывать структуру и алгоритмы сайта будет очень много букв, в частном порядке могу показать репозиторий проекта.</p>
				</div>
			</div>


			<p>К сожалению, многие другие сайты сделанные годами ранее, канули в лету по вине заказчиков. Остались только скриншоты которые я не вижу смысла показывать.</p>
		</div>
	</div>
</section>