<section>
	<div class="row">
		<div class="col-12">
			<div class="display-3 text-center">
				<h1 class="f-weight-300">Создание и расширение сайтов</h1>
				<h6 class="content-under-title">.. c интересом и опытом :)</h6>
			</div>
			<hr class="my-4">

			<!-- Carousel animation starts HERE -->
			
			<div id="animCarousel" class="carousel slide carousel-fade" data-ride="carousel">

				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="d-inline-block">
							<h4>Не типичные веб-разработки</h4>
					    	<p>Не типовые проекты основанные на современных веб–технологиях, возможности расширения любого сайта и/или <code>CMS</code></p>
					    	<ul>
					    		<li><span><a ui-sref="angular">AngularJS</a></span></li>
					    		<li><span><a ui-sref="bootstrap">Bootstrap 4</a></span></li>
					    		<li><span><a ui-sref="jquery">JS/JQuery</a></span></li>
					    		<li><span><a ui-sref="software.git">Git + Bitbucket</a></span></li>
					    	</ul>
						</div>
						<img class="hidden-sm-down d-inline-block img-fluid anim-delay" src="../../img/svg/ufo.svg" alt="Создание и расширение" data-animation="animated bounceInUp">
					</div>				
<!-- 					<div class="carousel-item">
						<div class="d-inline-block">
							<h4>Гарантия сделки</h4>
					    	<p>Разработка сайтов под ключ с передачей всех элементов управления, с заключением договора <span class="text-primary">оказания услуг</span></p>
					    	<ul>
					    		<li><span>Аккаунт и оплата хостинга</span></li>
					    		<li><span>Управление сайтом</span></li>
					    		<li><span>Почтовые аккаунты</span></li>
					    		<li><span><code>FTP</code> и базы данных</span></li>
					    	</ul>
						</div>				
						<img class="hidden-sm-down d-inline-block img-fluid anim-delay" src="../../img/svg/key.svg" alt="Гарантия сделки" data-animation="animated bounceInDown">
					</div>	 -->		
					<div class="carousel-item">
						<div class="d-inline-block">
							<h4>Верстка и стилизация</h4>
					    	<p>Современный дизайн сайтов адаптированный для множества устройств: телефоны, планшеты, ноутбуки и прочие</p>
					    	<ul>
					    		<li><span><a ui-sref="bootstrap">Адаптивный дизайн;</a></span></li>
					    		<li><span><a ui-sref="bootstrap.typography">Google Web Fonts;</a></span></li>
					    		<li><span><a ui-sref="bootstrap.typography">Font Awesome Icons;</a></span></li>
					    		<li><span>Препроцессоры <code>CSS3</code><code>LESS</code><code>SASS</code></span></li>
					    	</ul>
						</div>
						<img class="hidden-sm-down d-inline-block img-fluid anim-delay" src="../../img/svg/cmyk.svg" alt="Верстка и стилизация" data-animation="animated rotateIn">
					</div>			
					<div class="carousel-item">
						<div class="d-inline-block">
							<h4>Система управления контентом</h4>
					    	<p>Самостоятельная работа клиента на сайте с удобной системой управления контентом, без знаний программирования</p>
					    	<ul>
					    		<li><span><a target="_blank" href="https://ru.wordpress.org/">WordPress</a></span></li>
					    		<li><span><a target="_blank" href="http://joomla.ru/">Joomla!</a></span></li>
					    		<li><span><a target="_blank" href="https://www.drupal.org/">Drupal</a></span></li>
					    		<li><span>Бесплатный хостинг;</span></li>
					    	</ul>
						</div>
						<img class="hidden-sm-down d-inline-block img-fluid anim-delay" src="../../img/svg/layers.svg" alt="Система управления контентом" data-animation="animated bounceInDown">
					</div>
				</div>

				<ol class="carousel-indicators">
					<i data-target="#animCarousel" data-slide-to="0" class="fa fa-circle-thin active" aria-hidden="true"></i>
					<i data-target="#animCarousel" data-slide-to="1" class="fa fa-circle-thin" aria-hidden="true"></i>
					<i data-target="#animCarousel" data-slide-to="2" class="fa fa-circle-thin" aria-hidden="true"></i>
					<!-- <i data-target="#animCarousel" data-slide-to="3" class="fa fa-circle-thin" aria-hidden="true"></i> -->
				</ol>	

				<a class="hidden-md-down carousel-control-prev" data-target="#animCarousel" role="button" data-slide="prev">
					<i class="fa fa-angle-left fa-2x text-muted" aria-hidden="true"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="hidden-md-down carousel-control-next" data-target="#animCarousel" role="button" data-slide="next">
					<i class="fa fa-angle-right fa-2x text-muted" aria-hidden="true"></i>
					<span class="sr-only">Next</span>
				</a>

			</div>

			<hr class="my-4">
			<div class="display-3 text-center">
				<h1 class="f-weight-300">Мои предложения</h1>
				<h6 class="content-under-title">.. и многое другое *</h6>
			</div>
			<hr class="my-4">

			<!-- Service starts HERE -->

			<div class="row" id="myService">
				<div class="col-12 col-sm-4 col-md-4 col-lg-4">
					<div class="card text-center no-border">
					  <div class="card-block">
					  	<img ui-sref="home.front-end" src="../../img/svg/molecule.svg" data-toggle="modal" data-target="#modalView" data-title="Front-end разработка" alt="Front-end">
					    <h5 class="card-title">Front-end</h5>
					    <p class="card-text">Создание современных <code>JS</code> приложений c помощью фреймворков, без <code>PHP</code></p>
					    <a ui-sref="home.front-end" class="card-link" data-toggle="modal" data-target="#modalView" data-title="Front-end разработка">Посмотреть</a>
					  </div>
					</div>					
				</div>
				<div class="col-12 col-sm-4 col-md-4 col-lg-4">
					<div class="card text-center no-border">
					  <div class="card-block">
					  	<img ui-sref="home.landing-page" src="../../img/svg/rocket-launch.svg" data-toggle="modal" data-target="#modalView" data-title="Разработка одностраничных сайтов" alt="Landing Page">
					    <h5 class="card-title">Landing Page</h5>
					    <p class="card-text">Создание одностраничных сайтов с типичным набором функций, <code>Bootstrap</code> + <code>JQuery</code></p>
					    <a ui-sref="home.landing-page" class="card-link" data-toggle="modal" data-target="#modalView" data-title="Разработка одностраничных сайтов">Посмотреть</a>
					  </div>
					</div>					
				</div>			
				<div class="col-12 col-sm-4 col-md-4 col-lg-4">
					<div class="card text-center no-border">
					  <div class="card-block">
					  	<img ui-sref="home.wordpress" src="../../img/svg/wordpress.svg" data-toggle="modal" data-target="#modalView" data-title="Сайты на WordPress" alt="WordPress">
					    <h5 class="card-title">WordPress</h5>
					    <p class="card-text">Использование <code>CMS</code> для создания сайтов-магазинов под ключ с панелью управления</p>
					    <a ui-sref="home.wordpress" class="card-link" data-toggle="modal" data-target="#modalView" data-title="Сайты на WordPress">Посмотреть</a>
					  </div>
					</div>					
				</div>				
			</div>
			<hr class="my-4">	
			<div class="display-3 text-center">
				<h1 class="f-weight-300">Инструменты</h1>
				<h6 class="content-under-title">.. среда обитания <code>Front-end</code> разработчика *</h6>
			</div>
			<hr class="my-4">	

			<!-- Devtools starts HERE -->

			<div id="devTools" class="row">
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/angularjs-original.svg" alt="AngularJS">
					<h6>AngularJS</h6>
				</div>
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/html5-original.svg" alt="HTML5">
					<h6>HTML5</h6>		
				</div>		
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/css3-original.svg" alt="CSS3">
					<h6>CSS3</h6>			
				</div>	
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/bootstrap-plain.svg" alt="Bootstrap">
					<h6>Bootstrap</h6>			
				</div>		
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/jquery-original.svg" alt="JQuery">
					<h6>JQuery</h5>		
				</div>	
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/javascript-original.svg" alt="JavaScript">
					<h6>JavaScript</h5>		
				</div>	
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/less-plain-wordmark.svg" alt="LESS">
					<h6>LESS</h5>			
				</div>	
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/git-original.svg" alt="Git">
					<h6>Git</h5>			
				</div>		
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/bitbucket-original.svg" alt="Bitbucket">
					<h6>Bitbucket</h5>		
				</div>				
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/google-firebase.svg" alt="Firebase">
					<h6>Firebase</h5>		
				</div>			
				<div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 text-center">
					<img class="dev-svg-image m-2" src="../../img/svg/grunt-original.svg" alt="Grunt">
					<h6>Grunt</h5>		
				</div>																
			</div>		
			<hr class="my-4">	
			<div class="display-3 text-center">
				<h1 class="f-weight-300">Мобильность</h1>
				<h6 class="content-under-title">.. отличное изображение на <a target="_blank" href="https://v4-alpha.getbootstrap.com/layout/grid/#grid-options">всех</a> устройствах *</h6>
			</div>
			<hr class="my-4">	

			<!-- Adaptive design starts HERE -->

			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="d-block text-center">
						<div class="iphone-background d-inline-block my-3">
							<iframe class="iphone-iframe ws-hide" src="">
								<p>Your browser does not support iframes.</p>
							</iframe>
							<div class="cover-iframe">
								<div class="cover"></div>
								<div class="load-iframe-button">
									<div ng-click="home.loadIframe()">
										<i class="fa fa-play fa-3x text-primary" aria-hidden="true"></i>
									</div>
									<h4>Посмотреть <br> на телефоне</h4>
								</div>
							</div>
						</div>								
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="h-100 d-table">							
						<div class="d-table-cell align-middle">
							<blockquote class="blockquote">
								<p class="mb-0">Адаптивный веб-дизайн</p>
								<footer class="blockquote-footer mt-3">По технологии адаптивного веб-дизайна не нужно создавать отдельные версии веб-сайта для отдельных видов устройств. Один сайт может работать на смартфоне, планшете, ноутбуке и телевизоре с выходом в интернет, то есть на всем спектре устройств</footer>
							</blockquote>						
							<div class="text-center text-muted mt-4">
								<i class="fa fa-apple fa-2x mx-2" aria-hidden="true"></i>
								<i class="fa fa-android fa-2x mx-2" aria-hidden="true"></i>
								<i class="fa fa-windows fa-2x mx-2" aria-hidden="true"></i>
							</div>						
						</div>
					</div>
				</div>					
			</div>
			<hr class="my-4">	
			<div class="display-3 text-center">
				<h1 class="f-weight-300">Готовое решение</h1>
				<h6 class="content-under-title">.. страницы сайта <span class="text-primary">webspace</span> *</h6>
			</div>
			<hr class="my-4">

			<!-- Pages navigation starts HERE -->

			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="d-block text-center">
					    <ul class="page-list no-slash">
					        <li><a ui-sref="angular.ng-scrollbars">ng-scrollbars</a></li>         
					        <li><a ui-sref="angular.swangular">swangular</a></li>         
					        <li><a ui-sref="angular.angucomplete-alt">angucomplete-alt</a></li>         
					        <li><a ui-sref="angular.summernote">summernote</a></li>         
					        <li><a ui-sref="angular.hotkeys">hotkeys</a></li>         
					        <li><a ui-sref="angular.ng-tagsinput">ngtagsinput</a></li>         
					        <li><a ui-sref="angular.gridster">gridster</a></li>         
					        <li><a ui-sref="angular.ui-cropper">ui-cropper</a></li>
					        <li><a ui-sref="angular.ws-table">ws-table</a></li>
					        <li><a ui-sref="angular.ws-chat">ws-chat</a></li>
					        <li><a ui-sref="angular.colorpicker">colorpicker</a></li>
					        <li><a ui-sref="angular.typewrite">typewriter</a></li>
					        <li><a ui-sref="jquery.download">download</a></li>
					        <li><a ui-sref="jquery.gifplayer">gifplayer</a></li>
					        <li><a ui-sref="jquery.highlight">highlight</a></li>
					        <li><a ui-sref="jquery.bxslider-4">bxSlider</a></li>
					        <li><a ui-sref="jquery.chart">chart</a></li>
					        <li><a ui-sref="jquery.caman">caman</a></li>
					        <li><a ui-sref="jquery.tilt">tilt.js</a></li>
					        <li><a ui-sref="jquery.slider-pips">slider-pips</a></li>
					        <li><a ui-sref="jquery.defiantjs">defiant.js</a></li>
					        <li><a ui-sref="jquery.html2canvas">html2canvas</a></li>
					        <li><a ui-sref="jquery.isotope">isotope</a></li>
					        <li><a ui-sref="jquery.jssocials">jsSocials</a></li>
					    </ul>							
					</div>
				</div>
<!-- 				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="h-100 d-table">							
						<div class="d-table-cell align-middle">
							<blockquote class="blockquote">
								<p class="mb-0"><code>JS</code> плагины и библиотеки</p>
								<footer class="blockquote-footer mt-3">Всеразличные и разнонаправленные плагины, скрипты и библиотеки уже работающие на сайте</footer>
							</blockquote>											
						</div>
					</div>
				</div>	 -->
				
			</div>
		</div>
	</div>
</section>