<section>
	<div class="row">
		<div class="col-12">
			<h5>Цены</h5>
			<!-- <h6 class="mb-3 text-muted">Стоимость услуг по разработке и расширению сайтов от webspace.kz</h6> -->
			<p><u>Все критерии даны исключительно в информационных целях и не являются гарантией их применения</u></p>
			<p>Каждый новый проект по своему уникален, поэтому ко всем вопросам надо подходить индивидуально, в том числе и к стоимости.</p>
			<p>Заказчиков всегда интересует цена проекта, это нормально, но сначала давайте внесем некоторые определения:</p>
			<ul>
				<li><span class="text-danger">Неправильно</span>, если заказчика интересует ТОЛЬКО цена, это значит — выбор вслепую.</li>
				<li><span class="text-danger">Неправильно</span>, если заказчик оценивает большой проект без погружения, это значит — не видят и не считают объемы.</li>
			</ul>
			<p>Я за правильный подход и точно знаю, что мир веб-разработки существенно сложнее, чем может показаться на первый взгляд. Попробую объяснить сколько стоят мои услуги и почему со мной можно работать.</p>
			<hr>
			<h5>Что я делаю?</h5>
			<p>Есть вещи, которые я делаю хорошо и горжусь этим:</p>
			<ul>
				<li>Разработка <code>Single Page App</code>, создание <code>JS</code> приложения;</li>
				<li>Разработка <code>Landing Page</code>, любой каприз за Ваши деньги; <i class="fa fa-smile-o text-muted" aria-hidden="true"></i></li>
				<li>Адаптивная верстка, оформление любого контента;</li>
				<li>Расширение возможностей сайта, добавление <code>PHP</code> и <code>JS</code> скриптов;</li>
			</ul>
			<hr>
			<h5>Сроки</h5>
			<p>Большой и технологичный сайт делается спокойно и тщательно. Только тогда будет хороший результат.</p>
			<p>Сроки горят? Нужно “вчера”? <span class="text-danger">Спешка — плохой советчик.</span> Нужно выбирать приоритеты и спокойно спланировать работу. Часто спасает правильно выбранная первая итерация проекта.</p>
<!-- 			<p>Для примера:</p>
			<ul>
				<li>Интернет-магазин “со всеми остановками” (проект, дизайн, наполнение, оплата, доставка, запуск) - это не один месяц труда;</li>
				<li>За один месяц сопровождения сайта заказчика, я существенно расширяю его первоначальные возможности и получаю хороший отзыв;</li>
			</ul>  -->
			<hr>
			<h5>Так сколько стоит сайт?</h5>
			<p>Как Вы уже наверное поняли, каждый проект индивидуален и его цена определяется в исключительном порядке. Ниже представлены среднестатистические цены на аналогичные услуги моих конкурентов:</p>
			<ul>
				<li>Корпоративный сайт с дизайном, проработкой всех страниц — от 100 тысяч тенге;</li>
				<li>Продающий лендинг с обратной связью и аналитикой – от 30 тысяч тенге;</li>
				<li>Интернет-магазин с проектированием, дизайном, оплатой, доставкой – от 150 тысяч тенге;</li>
				<li>Сайт на готовом решении, под ключ – от 50 тысяч тенге.</li>
			</ul>
			<hr>
			<h5>Итого</h5>
			<p>Я понимаю, что этот текст может вызвать у вас больше вопросов, чем дать ответов. Но все же, надеюсь он был полезен.</p>
			<hr>
			<p class="mb-0">Для написания текущей страницы мне очень помог этот материал: <a target="_blank" href="https://itl.com.kz/price/">https://itl.com.kz/price/</a></p>
		</div>
	</div>
</section>