<section id="header" ng-hide="'home' | includedByState">
	<nav class="breadcrumb">
		<div class="breadcrumb-item breadcrumbs-repeat" ng-repeat="crumb in content.breadcrumbs">
			<a ng-class="{'active-breadcrumb' : $last}" ui-sref="{{$state.includes(crumb) ? '#' : crumb}}">{{crumb}}</a>
		</div>
	</nav>
	<div class="hidden-lg-down">
		<i class="fa fa-print fa-lg service-button m-2" aria-hidden="true" ng-click="content.renderSection('print')" data-toggle="tooltip" data-placement="top" title="Print"></i>
		<i class="fa fa-floppy-o fa-lg service-button m-2" aria-hidden="true" ng-click="content.renderSection('save')" data-toggle="tooltip" data-placement="top" title="PDF"></i>
		<!-- <i class="fa fa-star-o fa-2x service-button m-2" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Favorite"></i> -->
	</div>
	<hr>
</section>

<section id="content">
	<state-loader>
		<h6 class="d-inline-block text-muted">Loading... </h6>
		<i class="fa fa-refresh fa-spin fa-1x fa-fw text-muted"></i>
		<span class="sr-only">Loading...</span>
	</state-loader>
	<div ui-view="content">
		<i>Some content will load here!</i>
	</div>
</section>

<section id="footer">
	<div class="row">
		<div class="col-12">
			<hr>
			<div class="text-center text-muted cursor-pointer" ng-click="content.scrollTop()">
				<i class="fa fa-angle-up fa-2x align-middle" aria-hidden="true"></i>
				<p class="align-middle">Scroll to Top</p>
			</div>
			<hr>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
						<p class="mb-2">Service</p>
						<ul class="footer-list pl-2 mb-0">
			                <li class="sub-nav"><a target="_blank" href="http://fontawesome.io/icons/">Font Awesome</a></li>
			                <li class="sub-nav"><a target="_blank" href="http://decodeit.ru/qr/">QR Code Online</a></li>
						</ul>
					</div>		
					<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
						<p class="mb-2">Service</p>
						<ul class="footer-list pl-2 mb-0">
			                <li class="sub-nav"><a target="_blank" href="https://www.jsdelivr.com/">JSDELIVR</a></li>
			                <li class="sub-nav"><a target="_blank" href="http://www.json-generator.com/">JSON Generator</a></li>
			                <li class="sub-nav"><a target="_blank" href="http://devicon.fr/">DEVICON</a></li>
						</ul>
					</div>					
					<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
						<p class="mb-2">Built on</p>
						<ul class="footer-list pl-2 mb-0">
			                <li class="sub-nav"><a target="_blank" href="https://v4-alpha.getbootstrap.com/">Bootstrap 4</a></li>
			                <li class="sub-nav"><a target="_blank" href="https://firebase.google.com/">Firebase</a></li>             
			                <li class="sub-nav"><a target="_blank" href="https://angularjs.org/">AngularJS</a></li>
						</ul>
					</div>								
					<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
						<p class="mb-2">Contacts</p>
						<ul class="footer-list pl-2 mb-0">
							<li><a href="mailto:public@webspace.kz">offers@webspace.kz</a></li>
							<li><i class="fa fa-whatsapp text-success" aria-hidden="true"></i> +7 747 241 96 70</li>
							<li><i class="fa fa-whatsapp transparent-text" aria-hidden="true"></i> +7 702 503 96 93</li>
						</ul>
					</div>								
				</div>
			<hr class="mb-1">
				<div class="row">
					<div class="col-12 text-center mb-1">
						<small>&lt; Webspace /&gt; © 2017. Powered by <a target="_blank" href="https://angularjs.org/">AngularJS</a></small>
					</div>
				</div>
		</div>
	</div>
</section>

<div id="modalView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalView" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
					<img src="../../img/svg/close-modal.svg" alt="Close Modal" aria-hidden="true">
				</button>
			</div>
			<div class="modal-body">
				<div ui-view="modalContent"></div>
			</div>
			<div class="modal-footer">
				<div class="text-center w-100 lead">Вопросы, предложения? Звоните: +7 747 241 96 70</div>
			</div>
		</div>
	</div>
</div>