<aside role="navigation" ng-init="leftbar.init()">

    <div id="leftbar">

        <div class="side-top">
            <ul class="nav flex-column" role="tablist" aria-multiselectable="true">
                <li class="nav-item">
                    <a class="leftbar-logotype display-4 f-size-1-5"  ng-class="{'text-white': leftbar.toggleStatus}" >&lt; Webspace /&gt;</a>
                </li>    
            </ul>    
        </div>

        <div class="side-one">
            <ul class="nav flex-column" role="tablist" aria-multiselectable="true" ng-show="leftbar.toggleStatus">
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link">
                        <a class="d-inline-block align-top no-decorations text-white" ui-sref="home">Home</a>
                    </div>
                </li>                
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link" role="tab" id="bootstrap">
                        <a class="d-inline-block align-top no-decorations text-white" ui-sref="bootstrap">Bootstrap 4</a>
                        <i class="fa fa-angle-down collapse-angle" aria-hidden="true" ng-click="leftbar.collapse($event)" ng-class="{'toggled': leftbar.collapsed.indexOf('.collapseBootstrap') !== -1}" data-toggle="collapse" data-parent="#leftbar" data-target=".collapseBootstrap" aria-expanded="true" aria-controls="bootstrap"></i>
                    </div>
                    <ul class="collapse collapseBootstrap bg-primary" role="tabpanel" aria-labelledby="bootstrap">
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.media">Медиа объекты</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.typography">Типография</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.tables">Таблицы</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.alerts">Уведомления</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.buttons">Кнопки</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.cards">Карточки</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.sliders">Слайдеры</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.spoilers">Спойлеры</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.forms">Формы</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.views">Витрины</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.listgroup">Списки</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.modals">Модальные окна</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.tabs">Вкладки</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.navigation">Навигация</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="bootstrap.tooltips">Подсказки</a></li>             
                    </ul>
                </li>
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link" role="tab" id="angular">
                        <a class="d-inline-block align-top no-decorations text-white" href="#" ui-sref="angular">AngularJS</a>
                        <i class="fa fa-angle-down collapse-angle" aria-hidden="true" ng-click="leftbar.collapse($event)" ng-class="{'toggled': leftbar.collapsed.indexOf('.collapseAngular') !== -1}" data-toggle="collapse" data-parent="#leftbar" data-target=".collapseAngular" aria-expanded="true" aria-controls="angular"></i>
                    </div>
                    <ul class="collapse collapseAngular bg-primary" role="tabpanel" aria-labelledby="angular">
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.ng-scrollbars">ng-scrollbars</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.swangular">swangular</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.angucomplete-alt">angucomplete-alt</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.summernote">summernote</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.hotkeys">hotkeys</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.ng-tagsinput">ngtagsinput</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.gridster">gridster</a></li>         
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.ui-cropper">ui-cropper</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.ws-table">ws-table</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.ws-chat">ws-chat</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.colorpicker">colorpicker</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="angular.typewrite">typewriter</a></li>
                    </ul>
                </li>
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link" role="tab" id="jquery">
                        <a class="d-inline-block align-top no-decorations text-white" href="#" ui-sref="jquery">JS / JQuery</a>
                        <i class="fa fa-angle-down collapse-angle" aria-hidden="true" ng-click="leftbar.collapse($event)" ng-class="{'toggled': leftbar.collapsed.indexOf('.collapseJquery') !== -1}" data-toggle="collapse" data-parent="#leftbar" data-target=".collapseJquery" aria-expanded="true" aria-controls="jquery"></i>
                    </div>
                    <ul class="collapse collapseJquery bg-primary" role="tabpanel" aria-labelledby="jquery">     
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.download">download</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.gifplayer">gifplayer</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.highlight">highlight</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.bxslider-4">bxSlider</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.chart">chart</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.caman">caman</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.tilt">tilt.js</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.slider-pips">slider-pips</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.defiantjs">defiant.js</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.html2canvas">html2canvas</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.isotope">isotope</a></li>
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="jquery.jssocials">jsSocials</a></li>
                    </ul>
                </li>         
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link" role="tab" id="software">
                        <a class="d-inline-block align-top no-decorations text-white" href="#" ui-sref="software">Software</a>
                        <i class="fa fa-angle-down collapse-angle" aria-hidden="true" ng-click="leftbar.collapse($event)" ng-class="{'toggled': leftbar.collapsed.indexOf('.collapseSoftware') !== -1}" data-toggle="collapse" data-parent="#leftbar" data-target=".collapseSoftware" aria-expanded="true" aria-controls="software"></i>
                    </div>
                    <ul class="collapse collapseSoftware bg-primary" role="tabpanel" aria-labelledby="software">       
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="software.git">Git + Bitbucket</a></li>        
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="software.sublimetext">Sublime Text 3</a></li>        
                        <li class="sub-nav" ui-sref-active="sub-nav-active"><a ui-sref="software.openserver">Open Server Panel</a></li>        
                    </ul>
                </li>          
                <li class="nav-item">
                        <a class="nav-link text-white" href="#">Useful resources:</a>
                    <ul>
                        <li class="sub-nav"><a target="_blank" href="https://v4-alpha.getbootstrap.com/">Getbootstrap 4</a></li>
                        <li class="sub-nav"><a target="_blank" href="https://firebase.google.com/">Firebase</a></li>
                        <li class="sub-nav"><a target="_blank" href="http://fontawesome.io/icons/">Font Awesome Icons 4.7</a></li>                
                        <li class="sub-nav"><a target="_blank" href="https://docs.angularjs.org/api/ng/function/angular.element">Angular JS Docs</a></li>
                        <li class="sub-nav"><a target="_blank" href="http://ngmodules.org/">Ng-modules</a></li>
                        <li class="sub-nav"><a target="_blank" href="http://angularscript.com/">Angular Script</a></li>
                        <li class="sub-nav"><a target="_blank" href="https://www.jsdelivr.com/">JSDELIVR</a></li>
                        <li class="sub-nav"><a target="_blank" href="http://www.json-generator.com/">JSON Generator</a></li>
                        <li class="sub-nav"><a target="_blank" href="http://devicon.fr/">DEVICON</a></li>
                        <li class="sub-nav"><a target="_blank" href="http://decodeit.ru/qr/">QR Code Online</a></li>
                    </ul>
                </li>
<!--                 <li class="nav-item">
                    <a class="nav-link text-white" href="#">О сайте</a>
                </li>   -->        
            </ul>        
        </div>   

        <div class="side-two text-right mt-3">
            <ul class="nav flex-column" role="tablist" aria-multiselectable="true" ng-show="!leftbar.toggleStatus">            
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="home">Главная</a></div>
                </li>   
<!--                 <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="price">Стоимость</a></div>
                </li>   -->           
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="examples">Примеры</a></div>
                </li>               
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="bootstrap">Bootstrap 4</a></div>
                </li>                 
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="angular">AngularJS</a></div>
                </li>                   
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="jquery">JQuery</a></div>
                </li>                 
                <li class="nav-item" ui-sref-active="nav-active">
                    <div class="nav-link-white"><a class="d-inline-block align-top no-decorations" ui-sref="software">Software</a></div>
                </li>              
<!--                 <li class="nav-item">
                    <div class="nav-link-white">
                        <a class="d-inline-block align-top no-decorations" ui-sref="home"><i class="fa fa-whatsapp text-success" aria-hidden="true"></i> +7 747 241 96 70</a>
                    </div>
                </li>   -->              
            </ul>         
        </div> 

        <div ng-class="!leftbar.toggleStatus ? 'side-bottom' : ''">
            <ul class="nav flex-column" role="tablist" aria-multiselectable="true">            
                <li class="nav-item">
                    <div class="my-3 leftbar-toggle">
                      <a ng-click="leftbar.toggleLeftbar()" ng-class="{'text-white': leftbar.toggleStatus}" aria-pressed="true">
                        <span class="switch-button" ng-show="!leftbar.toggleStatus">Switch</span><span class="text-white" ng-show="leftbar.toggleStatus">Switch back</span>
                      </a>
                    </div> 
                </li>                
            </ul>     
        </div>

    </div> 

</aside>