
	<div class="card">
	    <div class="lead p-3">Сайт Webspace разрабатывается как портфолио и showcase одного программиста. Если вы читаете эту запись значит я все еще что-то делаю, контент, дизайн, функционал сайта могут изменится или будут добавлены.
	    <hr>
	    <h2 class="text-primary lead f-size-2">Looking for work</h2>
	    </div>
	</div>
	<h2 class="lead f-size-2-5 py-4">Service</h2>
	<ul class="list-service-link">
	    <li><a class="service-link" href="">Расширение сайтов;</a></li>
	    <li><a class="service-link" href="">Добавление функционала;</a></li>
	    <li><a class="service-link" href="">Стилизация, редизайн;</a></li>
	    <li><a class="service-link" href="">Сервисное обслуживание;</a></li>
	</ul>		
	<h2 class="lead f-size-2-5 py-4">Last works</h2>
	<ul class="list-service-link">
	    <li><a target="_blank" href="http://wp-template.webspace.kz/">wp-template</a></li>
	    <li><a target="_blank" href="http://landing-second.webspace.kz/">landing-second</a></li>
	    <li><a target="_blank" href="http://landing-first.webspace.kz/">landing-first</a></li>
	    <li><a target="_blank" href="http://upwork.webspace.kz/">upwork</a></li>
	</ul>	
	<img class="vk-qr-code" src="../../img/png/qr-code.png" alt="">
